body {
  background: #fff url(../images/bg.png) repeat-x 0 3px;
  padding-top: 20px;
}

main {
  background-color: #e6efef;
}

h1 {
  color: #f2be2c;
}

h2 {
  color: #6fd6f7;
}


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 0.8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.ajax-spinner-visible {
  position: relative;
}

.ajax-spinner-visible .ajax-spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: 32px 32px;
  background: rgba(255, 255, 255, 0.8) url(../images/spinner.gif) no-repeat
    center center;
  z-index: 1000;
}

.ajax-spinner-visible .form-control:focus {
  box-shadow: none;
}

label.required:before {
  content: "* ";
  color: #ff0000;
  font-weight: bold;
}

label span.required {
  color: #ff0000;
  font-weight: bold;
}

table.results tbody tr:first-child {
  background-color: gold;
}
table.results tbody tr:nth-child(2) {
  background-color: silver;
}
table.results tbody tr:nth-child(3) {
  background-color: goldenrod;
}

table .number {
  text-align: right;
  width: 1%;
}

#countdown {
  font-size: x-large;
}

@media print {
  .sf-toolbar {
    display: none !important;
  }

  html, body, header, main, footer, .container {
      margin: 0 !important;
      padding: 0 !important;
      height: auto !important;
      font-size: small !important;;
      font-family: serif !important;;
  }

  .page-header {
      margin: 0;
      border: 0;
      padding-bottom: 30px;
  }

  table.results {
      margin: 0 auto;
      border: none;
      width: 100%;
  }
  table.results abbr {
      text-decoration: none !important;
      border: none !important;
  }
  table.results abbr[title]:after {
      content: none !important;
  }
  table.results td,
  table.results th {
      border: 0.3pt solid #CCCCCC !important;
  }

  .sponsors a[href]:after {
      content: none !important;
  }
}

@page {
  size: 210mm 297mm;
  margin: 20mm;
}

#menu-sponsors {
  line-height: 80px;
  text-align: center;
}

#menu-sponsors a {
  display: inline-block;
  margin: 5px;
  opacity: 0.7;
  outline: none;
  text-decoration: none;
  vertical-align: middle;
  height: 50px;

  -webkit-filter: grayscale(100%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  filter: grayscale(100%);
}

#menu-sponsors a:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  filter: grayscale(0%);
}
/* Begin of "Genereated with bin/sponsors.js" */
#menu-sponsors a[href="http://www.agfoods.eu"] {
  background-size: 216px 51px;
  width: 216px;
  height: 51px;
}
#menu-sponsors a[href="http://www.alfaagro.cz"] {
  background-size: 195px 56px;
  width: 195px;
  height: 56px;
}
#menu-sponsors a[href="http://www.bibusmetals.cz"] {
  background-size: 263px 42px;
  width: 263px;
  height: 42px;
}
#menu-sponsors a[href="http://www.dynamicmetalsltd.cz"] {
  background-size: 289px 38px;
  width: 289px;
  height: 38px;
}
#menu-sponsors a[href="http://www.fabory.cz"] {
  background-size: 252px 44px;
  width: 252px;
  height: 44px;
}
#menu-sponsors a[href="http://www.vbites.cz/zivot-ve-meste/2017-03-28-07-19-31/informacni-centrum-a-klub-kultury"] {
  background-size: 172px 64px;
  width: 172px;
  height: 64px;
}
#menu-sponsors a[href="http://www.itwcz.com"] {
  background-size: 148px 74px;
  width: 148px;
  height: 74px;
}
#menu-sponsors a[href="http://www.jerabkovapekarna.cz"] {
  background-size: 125px 88px;
  width: 125px;
  height: 88px;
}
#menu-sponsors a[href="http://www.kovyaslitiny.cz"] {
  background-size: 121px 91px;
  width: 121px;
  height: 91px;
}
#menu-sponsors a[href="http://www.mannen.cz"] {
  background-size: 219px 50px;
  width: 219px;
  height: 50px;
}
#menu-sponsors a[href="http://www.mtmetal.com"] {
  background-size: 105px 104px;
  width: 105px;
  height: 104px;
}
#menu-sponsors a[href="http://www.pbsvb.cz"] {
  background-size: 249px 44px;
  width: 249px;
  height: 44px;
}
#menu-sponsors a[href="http://www.primapol.cz"] {
  background-size: 235px 47px;
  width: 235px;
  height: 47px;
}
#menu-sponsors a[href="http://www.promatservis.cz"] {
  background-size: 197px 56px;
  width: 197px;
  height: 56px;
}
#menu-sponsors a[href="http://www.slamamilan.cz"] {
  background-size: 124px 89px;
  width: 124px;
  height: 89px;
}
#menu-sponsors a[href="http://www.vbites.cz"] {
  background-size: 151px 73px;
  width: 151px;
  height: 73px;
}
#menu-sponsors a[href="http://www.vyziva-pro-fitness.cz"] {
  background-size: 224px 49px;
  width: 224px;
  height: 49px;
}
#menu-sponsors a[href="http://www.zamecnictvinemec.cz"] {
  background-size: 212px 52px;
  width: 212px;
  height: 52px;
}
/* End of "Genereated with bin/sponsors.js" */