---
layout: default
title: "Úvodní stránka"
permalink: "/"
pictures: ["17", "18", "19", "20", "21", "22"]
---

<script type='application/ld+json'>
  {
    "@context": "http://schema.org",
    "@type": "SportsEvent",
    "name": "Pohodová devítka",
    "sport": "běh",
    "image": "https://www.pohodovadevitka.cz/images/logo.png",
    "url": "https://www.pohodovadevitka.cz",
    "description": "Běžecký závod ve Velké Bíteši, který se pořádá v září, vždy po zdejších hodech. Hlavní trasa měří 9km, děti mohou běžet kratší trasy.",
    "startDate": "2018-09-16T00:00:00",
    "endDate": "2018-09-16T23:59:59",
    "offers": {
      "@type": "Offer",
      "description": "Registrace",
      "price": "70",
      "url": "http://ptime.cz/startovka-pohodova-devitka-2018",
      "availability": "http://schema.org/Discontinued",
      "priceCurrency": "CZK",
      "validFrom": "2018-09-01T00:00:00"
    },
    "performer": [
      {
        "@type": "Person",
        "name": "Zdeněk Kundera"
      },
      {
        "@type": "Person",
        "name": "Martin Macholán"
      },
      {
        "@type": "Person",
        "name": "Ondřej Plechatý"
      }
    ],
    "location": {
      "@type": "Place",
      "name": "Fotbalový stadion Velká Bíteš",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Vlkovská",
        "addressLocality": "Velká Bíteš",
        "postalCode": "59501",
        "addressCountry": "Česká Republika"
      }
    },
    "sponsor": [
      {
        "@type": "Organization",
        "url": "http://www.mannen.cz",
        "name": "Sponzor závodu: N. MANNEN, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.vyziva-pro-fitness.cz",
        "name": "Sponzor závodu: VÝŽIVA PRO FITNESS"
      },
      {
        "@type": "Organization",
        "url": "http://www.agfoods.eu",
        "name": "Sponzor závodu: AG FOODS Group, a.s."
      },
      {
        "@type": "Organization",
        "url": "http://www.alfaagro.cz",
        "name": "Sponzor závodu: Alfa Agro Brno, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.bibusmetals.cz",
        "name": "Sponzor závodu: BIBUS METALS s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.fabory.cz",
        "name": "Sponzor závodu: Fabory, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.pbsvb.cz",
        "name": "Sponzor závodu: První brněnská strojírna Velká Bíteš, a.s."
      },
      {
        "@type": "Organization",
        "url": "http://www.promatservis.cz",
        "name": "Sponzor závodu: Promat servis, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.vbites.cz",
        "name": "Sponzor závodu: Velká Bíteš"
      },
      {
        "@type": "Organization",
        "url": "http://www.primapol.cz",
        "name": "Sponzor závodu: Primapol-Metal-Spot, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.vbites.cz/zivot-ve-meste/2017-03-28-07-19-31/informacni-centrum-a-klub-kultury",
        "name": "Sponzor závodu: Informační centrum - Klub kultury - Velká Bíteš"
      },
      {
        "@type": "Organization",
        "url": "http://www.jerabkovapekarna.cz",
        "name": "Sponzor závodu: Jeřábkova pekárna, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.mtmetal.com",
        "name": "Sponzor závodu: MT-Metal Trade, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.kovyaslitiny.cz",
        "name": "Sponzor závodu: Kovy a slitiny, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.itwcz.com",
        "name": "Sponzor závodu: ITW PRONOVIA, s.r.o"
      },
      {
        "@type": "Organization",
        "url": "http://www.zamecnictvinemec.cz",
        "name": "Sponzor závodu: Zámečnictví Němec, s.r.o."
      },
      {
        "@type": "Organization",
        "url": "http://www.dynamicmetalsltd.cz",
        "name": "Sponzor závodu: Dynamic Metals Ltd"
      },
      {
        "@type": "Organization",
        "url": "http://www.slamamilan.cz",
        "name": "Sponzor závodu: UZENÁŘSTVÍ A LAHŮDKY SLÁMA s.r.o."
      }
    ]
  }
</script>

<h1 class="py-3">PoHodová devítka <small class="text-muted">běžecký závod Velké Bíteše</small></h1>

<p class="lead">
  Běžecký závod ve Velké Bíteši, který se pořádá v září, vždy po zdejších hodech. Hlavní trasa měří 9km, děti mohou běžet kratší trasy.
</p>

<!--
  <div class="panel panel-default">
      <div class="panel-body text-center">
          <p class="lead" id="countdown" data-start="{$timestamp}" data-is_in_future="{$isInFuture}">
                  <span n:class="in-future, !$isInFuture ? hidden">Startujeme již za <span
                              class="countdown-time">{$countdown}</span></span>
              <span n:class="in-past, $isInFuture ? hidden">Start proběhl {$startDate|date:'j.n.Y'}
                      v {$startDate|date:'G:i'}</span>
          </p>
          {if $isInFuture}
          <a class="btn btn-lg btn-hot" href="{$PROP['registration.url']}" role="button">Registrovat</a>
          {/if}
      </div>
  </div>
-->

<div id="carousel" class="carousel slide mb-3" data-ride="carousel">
  <div class="carousel-inner">
    {% for i in page.pictures %}
    <div class="carousel-item">
      <picture>
        <source srcset="/images/phd-{{ i }}.webp" type="image/webp" />
        <source srcset="/images/phd-{{ i }}.jpg" type="image/jpeg" />
        <img
          src="/images/phd-{{ i }}.jpg"
          alt="foto ze závodu"
          class="d-block w-100 img-fluid"
          decoding="async"
          async="on"
        >
      </picture>
    </div>
    {% endfor %}
    <div class="carousel-item active">
      <picture>
        <source srcset="/images/logo.webp" type="image/webp" />
        <source srcset="/images/logo.jpg" type="image/jpg" />
        <img
          src="/images/logo.jpg"
          alt="foto ze závodu"
          class="d-block w-100 img-fluid"
          width="1001"
          height="547"
          decoding="async"
          async="on"
        >
      </picture>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#carousel"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Vlevo</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carousel"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Vpravo</span>
  </a>
</div>

{% if site.posts %}
<div class="card-deck">
  {% if site.posts.size > 0 %} {% include post-card.html index=0 %} {% endif %}
  {% if site.posts.size > 1 %}
  <div class="w-100 d-none d-sm-block d-lg-none"></div>
  {% include post-card.html index=1 %} {% endif %} {% if site.posts.size > 2 %}
  <div class="w-100 d-none d-sm-block d-lg-none"></div>
  {% include post-card.html index=2 %} {% endif %}
</div>
{% endif %}
