---
layout: default
title: "Úvodní stránka"
permalink: "/"
pictures:
  - file: phd-17
    width: 900
    height: 500
  - file: phd-18
    width: 900
    height: 500
  - file: phd-19
    width: 456
    height: 500
  - file: phd-20
    width: 900
    height: 500
  - file: phd-21
    width: 900
    height: 500
  - file: phd-22
    width: 900
    height: 500
---

<script type="application/ld+json">
  { "@context": "http://schema.org"
  , "@type": "WebSite"
  , "name": "{{ site.title }}"
  , "url": "{{ site.url }}"
  }
</script>

<div class="card mb-3">
  <div class="card-body text-center">
    <p class="card-text" id="countdown" data-start="2021-09-19T11:00:00">Startujeme již za&hellip;</p>
<!--
    <a class="btn btn-lg btn-danger" href="https://ptime.cz/registrace?id=61" role="button" rel="noopener noreferrer" target="_blank">Registrovat</a>
-->
  </div>
</div>

<div id="carousel" class="carousel slide mb-3" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <picture>
        <source srcset="/images/logo.webp" type="image/webp" />
        <source srcset="/images/logo.jpg" type="image/jpeg" />
        <img
          src="/images/logo.jpg"
          alt="foto ze závodu"
          class="d-block img-fluid rounded"
          width="900"
          height="500"
        >
      </picture>
    </div>
    {% for picture in page.pictures %}
    <div class="carousel-item">
      <picture>
        <source srcset="/images/{{ picture.file }}.webp" type="image/webp" />
        <source srcset="/images/{{ picture.file }}.jpg" type="image/jpeg" />
        <img
          src="/images/{{ picture.file }}.jpg"
          alt="foto ze závodu"
          class="d-block img-fluid rounded"
          width="{{ picture.width }}"
          height="{{ picture.height }}"
          loading="lazy"
        >
      </picture>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Vlevo</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Vpravo</span>
  </button>
</div>

<h1 class="py-3 text-center text-bold">PoHodová devítka <small class="h4 text-muted">běžecký závod Velké Bíteše</small></h1>

<p class="lead">
  Běžecký závod ve Velké Bíteši, který se pořádá v září, vždy po zdejších hodech. Hlavní trasa měří 9km, děti mohou běžet kratší trasy.
</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    {% include post-card.html index=0 %}
  </div>
  <div class="col">
    {% include post-card.html index=1 %}
  </div>
  <div class="col">
    {% include post-card.html index=2 %}
  </div>
  <div class="col">
    {% include post-card.html index=4 %}
  </div>
</div>

<script async src="/js/homepage.js"></script>

