---
title: "Propozice"
layout: default
permalink: "/propozice/"
---

<script type='application/ld+json'>
  { "@context": "http://schema.org"
  , "@type": "SportsEvent"
  , "description": "{{ site.description }}"
  , "endDate": "2021-09-19T23:59:59"
  , "image": "{{ site.logo_large }}"
  , "location": { "@type": "Place"
                , "name": "Fotbalový stadion Velká Bíteš"
                , "address": { "@type": "PostalAddress"
                             , "streetAddress": "Vlkovská"
                             , "addressLocality": "Velká Bíteš"
                             , "postalCode": "59501"
                             , "addressCountry": "Česká Republika"
                             }
                }
  , "name": "{{ site.title }}"
  , "offers": { "@type": "Offer"
              , "description": "Registrace"
              , "price": "150"
              , "url": "https://ptime.cz/startovni_listina?id=61"
              , "availability": "http://schema.org/InStock"
              , "priceCurrency": "CZK"
              , "validFrom": "2021-08-20T00:00:00"
              , "priceValidUntil": "2021-08-20T00:00:00"
              }
  , "performer": [ { "@type": "Person"
                   , "name": "Zdeněk Kundera"
                   }
                 , { "@type": "Person"
                   , "name": "Martin Macholán"
                   }
                 , { "@type": "Person"
                   , "name": "Ondřej Plechatý"
                   }
                 ]
  , "sponsor": [ { "@type": "Organization"
                 , "name": "Sponzor závodu: Fitcentrum OLMPIA Tišnov, s.r.o."
                 , "url": "http://www.posilovna-tisnov.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: KARGOMA, s.r.o."
                 , "url": "https://www.facebook.com/kargomavb"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: AG FOODS Group, a.s."
                 , "url": "http://www.agfoods.eu"
                 }
               , { "@type": "Organization"
                 , "url": "http://www.alfaagro.cz"
                 , "name": "Sponzor závodu: Alfa Agro Brno, s.r.o."
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: BIBUS METALS s.r.o."
                 , "url": "http://www.bibusmetals.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: Fabory, s.r.o."
                 , "url": "http://www.fabory.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: První brněnská strojírna Velká Bíteš, a.s."
                 , "url": "http://www.pbsvb.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: Promat servis, s.r.o."
                 , "url": "http://www.promatservis.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: Velká Bíteš"
                 , "url": "http://www.vbites.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: Primapol-Metal-Spot, s.r.o."
                 , "url": "http://www.primapol.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: Informační centrum - Klub kultury - Velká Bíteš"
                 , "url": "http://www.vbites.cz/zivot-ve-meste/2017-03-28-07-19-31/informacni-centrum-a-klub-kultury"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: Jeřábkova pekárna, s.r.o."
                 , "url": "http://www.jerabkovapekarna.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: MT-Metal Trade, s.r.o."
                 , "url": "http://www.mtmetal.com"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: ITW PRONOVIA, s.r.o"
                 , "url": "http://www.itwcz.com"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: Zámečnictví Němec, s.r.o."
                 , "url": "http://www.zamecnictvinemec.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: Dynamic Metals Ltd"
                 , "url": "http://www.dynamicmetalsltd.cz"
                 }
               , { "@type": "Organization"
                 , "name": "Sponzor závodu: UZENÁŘSTVÍ A LAHŮDKY SLÁMA s.r.o."
                 , "url": "http://www.slamamilan.cz"
                 }
               ]
  , "sport": "běh"
  , "startDate": "2021-09-19T00:00:00"
  , "url": "{{ site.url }}"
  , "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode"
  , "eventStatus": "https://schema.org/EventScheduled"
  , "organizer": { "@type": "Organization"
                 , "name": "PoHodová devítka"
                 , "url": "https://www.pohodovadevitka.cz"
                 }
  }
</script>

<div class="btn-toolbar justify-content-end d-print-none">
  <a
    class="btn btn-md btn-success"
    href="/files/Propozice-2021.pdf"
    target="_blank"
    rel="noopener"
    title="Stáhnout propozice jako PDF"
  >
    {% include icon-download.svg %} Stáhnout PDF
  </a>
</div>

<div class="card my-3 propozice">
  <div class="card-body">
    <p class="text-center">
      Bítešský spolek vytrvalostních sportů dne <b><time datetime="2021-09-19">19. září 2021</time></b> pořádá na fotbalovém stadionu ve Veké Bíteši <b>8.&nbsp;ročník</b> běžeckého závodu
    </p>

    <hr>

    <h1 class="text-center font-weight-bold my-3" style="font-size: 0.1px;">
      PoHodová Devítka
      <picture>
        <source srcset="/images/logo_big.webp" type="image/webp">
        <img loading="lazy" src="/images/logo_big.jpg" alt="PoHodová devítka" width="290" height="247">
      </picture>
    </h1>

    <h2 class="my-3">NOVINKY</h2>

    <p class="font-weight-bold">Lidový běh délky 1,2 km určený pro ty, kteří si netroufají na délku 9 km hlavního závodu a pro dorostence/dorostenky.</p>
    <p class="font-weight-bold">Každý účastník hlavního závodu dostane v ceně startovného ponožky v designu PoHodové devítky! Lze vybrat ze dvou barevných kombinací a velikostí.</p>

    <div class="d-flex justify-content-center mb-3">
      <a href="/images/sock-2020-light.jpg" title="Ponožka PoHodové devítky - světlá">
        <picture>
          <source srcset="/images/sock-2020-light-236x236.webp" type="image/webp">
          <img src="/images/sock-2020-light-236x236.jpg" class="img-fluid img-thumbnail" alt="Ponožka PoHodové devítky - světlá" loading="lazy" width="236" height="236">
        </picture>
      </a>
      <a href="/images/sock-2020-dark.jpg" title="Ponožka PoHodové devítky - tmavá">
        <picture>
          <source srcset="/images/sock-2020-dark-236x236.webp" type="image/webp">
          <img src="/images/sock-2020-dark-236x236.jpg" class="img-fluid img-thumbnail" alt="Ponožka PoHodové devítky - tmavá" loading="lazy" width="236" height="236">
        </picture>
      </a>
    </div>

    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-sm">
        <thead>
          <tr>
            <th>ZÁVOD</th>
            <th>REGISTRACE</th>
            <th>ZA KOLIK</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <b>Dětské kategorie</b><br>
              (ročníky 2009 a mladší)
            </td>
            <td>
              v den závodu na místě od 9 hodin<br>
              (konec registrace 15 min před startem dané kategorie)
            </td>
            <td>zdarma</td>
          </tr>
          <tr>
            <td>
              <b>Lidový běh 1,2 km</b><br>
              (ročníky 2008 a starší)
            </td>
            <td>v den závodu na místě 9:00 – 12:45 </td>
            <td>zdarma</td>
          </tr>
          <tr>
            <td rowspan="2">
              <b>Hlavní závod 9 km</b><br>
              (ročníky 2003 a starší)
            </td>
            <td>online do 11. 9.</td>
            <td>150&nbsp;Kč</td>
          </tr>
          <tr>
            <td>v den závodu na místě 12:00 - 13:30</td>
            <td>200&nbsp;Kč</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-responsive">
      <table class="table table-condensed table-bordered table-sm">
        <tbody>
          <tr>
            <td>Start dětských kategorií</td>
            <td>11:00 (nejprve budou startovat děti 2015+)</td>
          </tr>
          <tr>
            <td>Lidový běh</td>
            <td>12:30</td>
          </tr>
          <tr>
            <td>Hlavní závod</td>
            <td>13:30</td>
          </tr>
        </tbody>
      </table>
    </div>

    {% include categories-2021.html title="VYPSANÉ KATEGORIE" %}

    <ul>
      <li>Hlavní závod se poběží směrem na Křoví formou okruhu převážně terénem (asi ze 2/3)</li>
      <li>V každé kategorii budou vyhlášení první tři závodníci</li>
      <li>Každý účastník hlavního závodu obdrží občerstvení (pivo/limo + uzené cigáro a drobné občerstvení)</li>
      <li>Všichni vyhlášení závodníci na stupních vítězů se mohou těšit na věcné ceny</li>
      <li>Speciální kategorií bude opět „nejrychlejší Bítešák“ a „nejrychlejší Bítešačka“</li>
      <li>Běhy dětí a mladších žáků budou rozděleny na dva dle pohlaví, starší žáci/žákyně a dorostenci/dorostenky budou startovat společně</li>
      <li>Děti do 6 let mohou absolvovat trať za doprovodu svých rodičů</li>
      <li>Děti a žáci poběží závod v rámci areálu fotbalového stadionu</li>
      <li>Všichni závodníci v dětských kategoriích obdrží po doběhu medaili</li>
    </ul>

    <h2 class="my-3">TRASA HLAVNÍHO ZÁVODU</h2>
    <a href="https://mapy.cz/s/morevuzaja" title="Trasa závodu" target="_blank" rel="noopener noreferrer">
      <picture>
        <source media="(max-width: 600px)" srcset="/files/mapa-2018-600w.webp" type="image/webp">
        <source media="(max-width: 600px)" srcset="/files/mapa-2018-600w.jpg" type="image/jpeg">
        <source srcset="/files/mapa-2018.webp" type="image/webp">
        <img class="img-thumbnail my-3" src="/files/mapa-2018.jpg" alt="mapa závodu" loading="lazy" width="1334" height="544">
      </picture>
    </a>
    <p>
      Přibližně 1/3 asfalt, 2/3 nezpevněné cesty.
    </p>

    <h2 class="my-3">DOPRAVA</h2>
    <p>Parkování u fotbalového stadionu</p>
    <p>
      Závod se běží za plného silničního provozu. Každý závodník běží na vlastní nebezpečí. Dle Nařízení Evropského parlamentu a Rady (EU) č. 2016/679 ze dne 27. dubna 2016 účastníci závodu zaplacením startovného souhlasí se zpracováním osobních údajů. Tato data nebudou organizátorem nijak zneužita.
    </p>

    <h2 class="my-3">KONTAKTY</h2>
    <p class="text-center">
      <b>Zdeněk Kundera</b> <a href="tel:777612344">777 612 344</a><br />
      <b>Ondřej Plechatý</b> <a href="tel:731425676">731 425 676</a><br />
      <b>Martin Macholán</b> <a href="tel:605007123">605 007 123</a>
    </p>
    <div class="row">
      <div class="col text-center">
        <a href="{{ site.url }}">{{ site.url | remove_first: "https://" }}</a>
      </div>
      <div class="col text-center">
        <a href="{{ site.facebook_url }}">{{ site.facebook_url | remove_first: "https://" }}</a>
      </div>
      <div class="col text-center">
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
    </div>
  </div>
</div>
