---
layout: default
title: "Výsledky PoHodové devítky 2014"
permalink: "/vysledky/2014/"
year: "2014"
keywords: "výsledky 2014"
---

{% include print-and-proposition.html %}

<h1 class="py-3">{{ page.title }}</h1>

<script id="data" type="application/json">
  {
    "genders": [
      ["F", "Ženy"],
      ["M", "Muži"]
    ],
    "races": [
      ["9km", "9 km"]
    ],
    "categories": [
      ["M", "M", "9km", "Muži", null, null],
      ["F", "F", "9km", "Ženy", null, null]
    ],
    "results": [
      [1,"M",1,"16","Ondřej Rosa",1988,"VSK Univerzita Brno - TJ Velké Meziříčí","33:15.00"],
      [2,"M",2,"17","Aleš Konečný",1997,"AC Moravská Slavia Brno","33:26.00"],
      [3,"M",3,"23","Michal Chadim",1978,"Zastávka","34:23.00"],
      [4,"M",4,"9","Radoslav Hudec",1980,"Brno-Bystrc","35:07.00"],
      [5,"M",5,"27","Karel Hrbáček",1968,"Brno","35:13.00"],
      [6,"M",6,"19","Jiří Chlup",1986,"Pucov","36:14.00"],
      [7,"M",7,"11","Jakub Procházka",1994,"AC Moravská Slavia Brno","40:07.00"],
      [8,"M",8,"15","Miroslav Fabrik",1959,"Brno","40:43.00"],
      [9,"M",9,"22","Petr Trojan",1982,"Velké Meziříčí","41:12.00"],
      [10,"F",1,"5","Dáša Pelikánová",1976,"Křoví","41:20.00"],
      [11,"M",10,"26","Andrej Rakovický",1976,"Jestřabí","41:45.00"],
      [12,"M",11,"13","Tomáš Bumba",1989,"Červené Lhota","42:28.00"],
      [13,"M",12,"6","David Vránek",1978,"Brno","42:29.00"],
      [14,"M",13,"8","Martin Tomek",1989,"Velká Bíteš","45:31.00"],
      [15,"F",2,"34","Petra Neklapilová",1995,"Velká Bíteš","45:32.00"],
      [16,"F",3,"18","Jana Smrčková",1964,"Lesní Hluboké","46:34.00"],
      [17,"M",14,"20","Michal Abeska",1983,"Jabloňov","47:02.00"],
      [18,"M",15,"21","Jiří Bojanovský",1983,"Velké Meziříčí","47:23.00"],
      [19,"F",4,"25","Helena Rakovická",1984,"Jestřabí","47:39.00"],
      [21,"F",5,"3","Veronika Volavá",1990,"Fit-online Brno","47:55.00"],
      [22,"M",17,"33","Pavel Blažek",1988,"Velká Bíteš","47:55.00"],
      [20,"M",16,"10","Vojtěch Svoboda",1994,"Velké Meziříčí","47:55.00"],
      [23,"M",18,"2","Petr Dostál",1983,"Břeclav","48:02.00"],
      [24,"M",19,"29","Matěj Polách",1989,"Vlkov","48:58.00"],
      [25,"M",20,"4","Ladislav Podlaha",1990,"Zbraslav","49:04.00"],
      [26,"F",6,"31","Iveta Doležalová",1981,"Radešín","49:19.00"],
      [27,"F",7,"35","Kateřina Sochorová",1990,"Krokočín","50:34.00"],
      [28,"M",21,"30","Vojtěch Polách",1992,"Vlkov","51:10.00"],
      [29,"M",22,"24","Miroslav Černý",1985,"Velká Bíteš","51:18.00"],
      [30,"F",8,"14","Blanka Fabriková",1960,"Brno","52:23.00"],
      [31,"F",9,"28","Jana Rambousková",1994,"Vlkov","52:48.00"],
      [32,"M",23,"12","Vít Ševčík",1999,"Ruda","55:18.00"],
      [33,"F",10,"7","Zuzana Bendová",1982,"Velká Bíteš","57:50.00"],
      [34,"F",11,"1","Alena Dostálová",1987,"Břeclav","1:01:00.00"],
      [35,"M",24,"32","Patrik Loup",1975,"Velká Bíteš","1:01:01.00"]
    ]
  }
</script>

{% include results-filter.html %}
{% include categories-2014.html title="Vypsané kategorie" %}
