---
layout: default
title: "Výsledky PoHodové devítky 2015"
permalink: "/vysledky/2015/"
year: "2015"
keywords: "výsledky 2015"
---

{% include print-and-proposition.html %}

<h1 class="py-3">{{ page.title }}</h1>

<script id="data" type="application/json">
  {
    "genders": [
      ["F", "Ženy"],
      ["M", "Muži"]
    ],
    "races": [
      ["9km", "9 km"]
    ],
    "categories": [
      ["MA", "M", "9km", "Muži „A“", 1966, null],
      ["MB", "M", "9km", "Muži „B“", null, 1965],
      ["FA", "F", "9km", "Ženy „A“", 1966, null],
      ["FB", "F", "9km", "Ženy „B“", null, 1965]
    ],
    "results": [
      [1,"MA",1,"46","Ondřej Rosa",1988,"TJ Sokol Velké Meziříčí-VSK UNI Brno","33:18.00"],
      [2,"MA",2,"39","Jakub Procházka",1994,"Sportovní centrum Velké Meziříčí","33:52.00"],
      [3,"MA",3,"61","Milan Procházka",1966,"TJ Spartak Třebíč","34:33.00"],
      [4,"MA",4,"60","Petr Jeřábek",1993,"AC Moravská Slavia Brno","35:10.00"],
      [5,"MA",5,"62","Miroslav Mucha",1974,"NHÚ Balinka VM","36:46.00"],
      [6,"MA",6,"64","Karel Hrbáček",1968,"Brno","36:55.00"],
      [7,"MA",7,"52","Michal Blaha",1985,"BT Velká Bíteš","38:01.00"],
      [8,"MA",8,"74","Vít Paták",1976,"Ruda","38:54.00"],
      [9,"FA",1,"55","Barbora Novotná",1981,"","39:03.00"],
      [10,"MA",9,"71","Alexander Mrůzek",1965,"Univerzita Brno plavání","39:18.00"],
      [11,"MA",10,"68","Michal Koudelík",1973,"Velké Meziříčí","39:22.00"],
      [12,"MA",11,"82","Martin Trojan",1981,"Oslavice","39:35.00"],
      [13,"MB",1,"43","Miroslav Fabrik",1959,"Brno Bystrc","39:41.00"],
      [14,"MA",12,"48","Jan Mička",1988,"Vlkov","40:55.00"],
      [15,"MA",13,"41","Michal Marek",1987,"Velká Bíteš","41:07.00"],
      [16,"MA",14,"45","David Vránek",1978,"Brno","41:11.00"],
      [17,"MA",15,"77","Rostislav Zejda",1985,"Rudíkov","41:32.00"],
      [18,"MA",16,"42","Ondřej Grulich",2001,"triatlon Třebíč","42:13.00"],
      [19,"MA",17,"79","Přemysl Kachlík",1989,"Brno","42:36.00"],
      [20,"MA",18,"63","Jaromír Mucha",1974,"NHÚ Balinka VM","43:10.00"],
      [21,"FA",2,"80","Kateřina Sochorová",1990,"Krokočín","43:13.00"],
      [22,"FB",1,"40","Jana Smrčková",1964,"Lesní Hluboké","43:28.00"],
      [23,"FA",3,"50","Michaela Tuháčková",1974,"Brno","43:37.00"],
      [24,"MA",19,"81","Roman Karmazín",1979,"Velké Meziříčí","43:51.00"],
      [25,"MA",20,"67","Milan Strádal",1974,"NHÚ Balinka VM","44:00.00"],
      [26,"MA",21,"53","Filip Tomšík",1986,"Velká Bíteš","44:13.00"],
      [27,"MA",22,"65","Bernard Chemlíček",1978,"Velká Bíteš","44:42.00"],
      [28,"MA",23,"51","Matěj Polách",1989,"","45:51.00"],
      [29,"FA",4,"36","Julie Ráčková",1998,"Sokol Velké Meziříčí","46:20.00"],
      [30,"FA",6,"58","Markéta Pohlová",1990,"Velká Bíteš","46:27.00"],
      [31,"FA",5,"57","Alžběta Blahová",1992,"Velká Bíteš","46:27.00"],
      [32,"FA",7,"70","Markéta Mrůzková",1997,"Kometa Brno plavání","47:38.00"],
      [33,"MB",2,"56","Martin Blaha",1965,"Velká Bíteš","48:45.00"],
      [34,"MB",3,"73","Zdeněk Bouček",1956,"Velké Meziříčí","48:55.00"],
      [35,"FA",8,"66","Jana Rambousková",1994,"Vlkov","49:00.00"],
      [36,"FA",9,"59","Jana Kalová",1966,"jkplusjk Brno","49:07.00"],
      [37,"FA",10,"72","Pavlína Mrůzková",1970,"Univerzita Brno plavání","49:18.00"],
      [38,"MA",24,"47","Tomáš Kazda",2002,"triatlon Třebíč","49:20.00"],
      [39,"FB",2,"44","Blanka Fabriková",1960,"Brno (VB)","49:52.00"],
      [40,"FA",11,"69","Eliška Brázdilová",1997,"Velká Bíteš","51:37.00"],
      [42,"MA",25,"37","Marie Homolová",1975,"Atletik Třebíč","52:03.00"],
      [41,"MB",4,"38","Arnošt Koreš",1950,"Atletik Třebíč","52:03.00"],
      [43,"FA",12,"76","Michaela Zejdová",1986,"Rudíkov","52:26.00"],
      [44,"FA",13,"49","Zuzana Bendová",1982,"Velká Bíteš","52:37.00"],
      [45,"MA",26,"54","Miloš Minařík",1985,"Velká Bíteš","53:52.00"],
      [46,"FA",14,"78","Lenka Kučerová",1985,"","54:02.00"],
      [47,"MA",27,"75","Miroslav Kvasnica",1989,"TJ Sokol Křoví","1:06:18.00"]
    ]
  }
</script>

{% include results-filter.html %}
{% include special-category.html female="Markéta Pohlová" male="Michal Blaha" %}
{% include categories-2015.html title="Vypsané kategorie" %}