---
layout: default
title: "Výsledky ročníku 2016"
permalink: "/vysledky/2016/"
year: "2016"
keywords: "výsledky 2016"
---

{% include print-and-proposition.html %}

<h1 class="py-3">{{ page.title }}</h1>

{% include results.html year="2016" discipline="9km" title="Závod 9&nbsp;km" %}
{% include results.html year="2016" discipline="1100m" title="Závod 1100&nbsp;m" %}
{% include results.html year="2016" discipline="5km" title="Závod 5&nbsp;km" %}
{% include results.html year="2016" discipline="500m" title="Závod 500&nbsp;m" %}
{% include results.html year="2016" discipline="500m" title="Závod 250&nbsp;m" %}

{% include categories-2016.html title="Vypsané kategorie" %}