---
layout: default
title: "Výsledky ročníku 2017"
permalink: "/vysledky/2017/"
year: "2017"
keywords: "výsledky 2017"
---

{% include print-and-proposition.html %}

<h1 class="py-3">{{ page.title }}</h1>

<script id="data" type="application/json">
  {
    "genders": [
      ["F", "Ženy"],
      ["M", "Muži"]
    ],
    "races": [
      ["9km",   "9 km"],
      ["1100m", "1100 m"],
      ["500m",  "500 m"],
      ["250m",  "250 m"]
    ],
    "categories": [
      ["MA",  "M", "9km",   "Muži „A“",      1978, 1999],
      ["MB",  "M", "9km",   "Muži „B“",      1968, 1977],
      ["MC",  "M", "9km",   "Muži „C“",      1958, 1967],
      ["MD",  "M", "9km",   "Muži „D“",      1957, null],
      ["FA",  "F", "9km",   "Ženy „A“",      1983, 1999],
      ["FB",  "F", "9km",   "Ženy „B“",      1973, 1982],
      ["FC",  "F", "9km",   "Ženy „C“",      1972, null],
      ["DM",  "M", "1100m", "Dorostenci",    2000, 2004],
      ["DF",  "F", "1100m", "Dorostenky",    2000, 2004],
      ["JM1", "M", "500m",  "Starší žáci",   2005, 2007],
      ["JF1", "F", "500m",  "Starší žákyně", 2005, 2007],
      ["JM2", "M", "500m",  "Mladší žáci",   2008, 2010],
      ["JF2", "F", "500m",  "Mladší žákyně", 2008, 2010],
      ["CM",  "M", "250m",  "Děti",          null, 2011],
      ["CF",  "F", "250m",  "Děti",          null, 2011]
    ],
    "results": [
      [1,"MA",1,17,"Jakub Exner",1983,"Pteam","34:19.00"],
      [2,"MA",2,21,"Martin Mokrý",1985,"RunSport Team","35:22.00"],
      [3,"MA",3,22,"Tomáš Máca",1978,"MST Jihlava","35:33.00"],
      [4,"MB",1,54,"Miroslav Mucha",1974,"NHÚ Balinka VM","36:19.00"],
      [5,"MB",2,53,"Jaromír Mucha",1974,"NHU Balinka VM","37:16.00"],
      [6,"MA",4,49,"Martin Man",1991,"TJ Spartak Třebíč","37:30.00"],
      [7,"MB",3,41,"Pavel Večeřa",1974,"FK Fajťák","38:26.00"],
      [8,"MA",5,6,"Martin Veleba",1998,"RunSport Team","38:42.00"],
      [9,"MB",4,42,"vita patak",1976,"becaro team","38:54.00"],
      [10,"MC",1,15,"Milan Procházka",1966,"TJ Spartak Třebíč","39:12.00"],
      [11,"MA",6,39,"Petr Jeřábek",1993,"VBProcycling","40:04.00"],
      [12,"MB",5,20,"Michal Koudelík",1973,"(Velké Meziříčí)","40:05.00"],
      [13,"MB",6,40,"Pavel Sejrek",1972,"FK Fajťák","40:27.00"],
      [14,"MA",7,30,"Jiří Machát",1985,"(Osová Bítýška)","40:41.00"],
      [15,"MA",8,59,"Marek Voborný",1989,"Karančo tým","40:49.00"],
      [16,"MB",7,4,"Petr Širůček",1976,"Dolní Loučky","41:23.00"],
      [17,"MB",8,8,"Jaromír Ambrož",1976,"Cyklosky Vídeň","41:34.00"],
      [18,"MA",9,26,"Radek Crha",1979,"(Vidonín)","41:34.00"],
      [19,"MA",10,44,"Martin Trojan",1981,"(Oslavice)","41:37.00"],
      [20,"MC",2,45,"Josef Nováček",1958,"SDH Čučice","41:43.00"],
      [21,"MB",9,24,"Pavel Kuraň",1971,"(Náměšť nad Oslavou)","41:56.00"],
      [22,"MA",11,57,"Jiří Smutný",1999,"(Velká Bíteš)","42:14.00"],
      [23,"MA",12,16,"Michal Blaha",1985,"BT Velká Bíteš","42:30.00"],
      [24,"MB",10,27,"Tomáš Glovacz",1976,"Spartak Třebíč","42:41.00"],
      [25,"MA",13,66,"Zbyněk Koukola",1987,"(Heřmanov)","42:45.00"],
      [26,"MB",11,55,"Milan Strádal",1974,"NHÚ Balinka","43:00.00"],
      [27,"FB",1,56,"Michaela Tuháčková",1974,"(Velká Bíteš)","43:34.00"],
      [28,"MD",1,67,"Pavel Klusáček",1956,"Rokytnice nad Rokytnou","44:37.00"],
      [29,"FB",2,14,"Vendula Kaldová",1974,"TJ Spartak Třebíč","44:40.00"],
      [30,"FB",3,28,"Lucie Novotná",1975,"(Veverské Knínice)","44:54.00"],
      [31,"MA",14,19,"Roman Karmazín",1979,"","45:19.00"],
      [32,"FA",1,5,"Martina Širůčková",1983,"Dolní Loučky","45:51.00"],
      [33,"MA",15,47,"Jiří Dlouhý",1983,"(Dobrá Voda)","45:54.00"],
      [34,"MA",16,32,"Pavel Ošmera",1989,"(Osová Bítýška)","46:10.00"],
      [35,"MB",12,71,"Jiří Vrzal",1975,"(Velká Bíteš)","46:18.00"],
      [36,"MA",17,63,"Matěj Polách",1989,"Vlkovská chasa","46:24.00"],
      [37,"MA",18,46,"Pavel Částek",1981,"ENVIRO","46:48.00"],
      [38,"MA",19,3,"Martin Tomek",1989,"","47:06.00"],
      [39,"MA",20,38,"Antonín Koukola",1985,"Běžecký klub České spořitelny","47:07.00"],
      [40,"MA",21,12,"Luděk Fišer",1984,"","47:35.00"],
      [41,"MA",22,69,"Miloš Minařík",1985,"(Velká Bíteš)","47:46.00"],
      [42,"MC",3,23,"Stanislav Kříbala",1963,"","47:49.00"],
      [43,"MA",23,50,"Michal Abeska",1983,"(Velké Meziříčí)","48:13.00"],
      [44,"FA",2,58,"Jana Jeřábková",1998,"Karančo tým","48:14.00"],
      [45,"MC",4,34,"Miroslav Fabrik",1959,"Bystrc","48:18.00"],
      [46,"FC",1,25,"Nikola Kuráňová",1972,"(Náměšť nad Oslavou)","48:28.00"],
      [47,"MC",5,7,"Zdenek Petřek",1958,"SOKOL Bohuňovice","48:32.00"],
      [48,"FA",3,43,"Petra Neklapilová",1995,"Za světový mír","48:44.00"],
      [49,"FA",4,33,"Tereza Machátová",1992,"(Osová Bítýška)","49:39.00"],
      [50,"MA",24,72,"Jakub Kohout",1983,"SCVM","50:15.00"],
      [51,"FC",2,29,"Jana Smrčková",1964,"RSFK","50:24.00"],
      [52,"MD",2,10,"Martin Novák",1951,"","50:33.00"],
      [53,"FB",4,48,"Zuzana McBain",1980,"Atletic Třebíč","50:43.00"],
      [54,"MA",25,18,"Tomáš Karmazín",1985,"","51:09.00"],
      [55,"MA",26,64,"Martin Bičan",1988,"Vlkovská chasa","51:30.00"],
      [56,"MA",27,31,"Tomáš Brom",1982,"(Brno)","52:12.00"],
      [57,"FA",5,62,"Jana Rambousková",1994,"Vlkovská chasa","52:27.00"],
      [58,"MD",3,13,"Zdeněk Bouček",1956,"","52:39.00"],
      [59,"FB",5,36,"Iva Šťastná",1980,"(Tišnov)","53:10.00"],
      [60,"FC",3,35,"Blanka Fabriková",1960,"Bystrc","54:07.00"],
      [61,"FA",6,68,"Marianna Kušová",1988,"Herbalife Nutrition","55:08.00"],
      [62,"MA",28,51,"Vojtěch Polách",1992,"Vlkovská chasa","57:27.00"],
      [63,"FB",6,9,"Iva Šebková",1974,"(Blansko)","58:25.00"],
      [64,"MB",13,70,"Steven Harvey",1969,"(Velke Mezirici)","1:00:05.00"],
      [65,"FB",7,60,"Marie Homolová",1975,"Atletic Třebíč","1:00:49.00"],
      [66,"MD",4,61,"Arnošt Koreš",1950,"Atletic Třebíč","1:00:51.00"],
      [67,"MA",29,52,"Jan Brychta",1998,"(Velká Bíteš)","1:16:12.00"],
      [1,"DM",1,223,"Adam Trojan",2004,"TJ Spartak Třebíč","3:57.00"],
      [2,"DM",2,230,"František Lokos",2001,"(Křižínkov)","4:01.00"],
      [3,"DF",1,211,"Tereza Teplá",2004,"TJ Spartak Třebíč","4:21.00"],
      [4,"DM",3,231,"Tobiáš Janík",2004,"(Velká Bíteš)","4:33.00"],
      [1,"JF1",1,210,"Simona Teplá",2006,"TJ Spartak Třebíč","1:40.00"],
      [2,"JM1",1,232,"Jonáš Janík",2007,"(Velká Bíteš)","1:43.00"],
      [3,"JF1",2,216,"Iveta Chmelíčková",2005,"(Velká Bíteš)","1:44.00"],
      [4,"JM1",2,214,"Adam Fila",2005,"TJ Spartak Třebíč","1:45.00"],
      [5,"JF1",3,224,"Kateřina Šebková",2005,"ASK Blansko","1:50.00"],
      [6,"JM1",3,239,"Jiří Vrzal",2005,"Velká Bíteš","1:53.00"],
      [7,"JM1",4,202,"Stanislav Toufar",2005,"Spartak Třebíč","1:54.00"],
      [8,"JM2",1,226,"Vojtěch Lachman",2009,"Dolní Loučky","1:58.00"],
      [11,"JF2",1,201,"Kristýna Toufarová",2008,"Spartak Třebíč","2:04.00"],
      [9,"JM2",2,225,"Jakub Kristýnek",2008,"Dolní Loučky","2:04.00"],
      [10,"JM2",3,209,"Kuba Dočkal",2008,"(Velká Bíteš)","2:04.00"],
      [12,"JF1",4,219,"Barbora Tomková",2007,"(Velká Bíteš)","2:06.00"],
      [13,"JF2",2,215,"Jůlie Filová",2008,"TJ Spartak Třebíč","2:11.00"],
      [14,"JF2",3,212,"Tereza Dočkalová",2008,"(Velká Bíteš)","2:16.00"],
      [15,"JM2",4,227,"Marek Pallotti",2009,"Řím (Itálie)","2:17.00"],
      [16,"JF1",5,213,"Veronika Dočkalová",2005,"(Velká Bíteš)","2:17.00"],
      [18,"JM2",5,229,"Šimon Rosecký",2010,"(Nové sady)","2:24.00"],
      [17,"JF2",4,208,"Nela Pražáková",2008,"(Velká Bíteš)","2:24.00"],
      [19,"JF2",5,220,"Ana-Marie Malcová",2010,"(Velká Bíteš)","2:27.00"],
      [20,"JM2",6,207,"Ondřej Valach",2010,"(Velká Bíteš)","2:34.00"],
      [21,"JF1",6,206,"Eliška Kujalová",2007,"(Velká Bíteš)","2:35.00"]
    ]
  }
</script>

{% include results-filter.html %}
{% include categories-2017.html title="Vypsané kategorie" %}