---
layout: default
title: "Výsledky PoHodové devítky 2018"
permalink: "/vysledky/2018/"
year: "2018"
keywords: "výsledky 2018"
---

{% include print-and-proposition.html %}

<h1 class="py-3">{{ page.title }}</h1>

<script id="data" type="application/json">
  {
    "genders": [
      ["F", "Ženy"],
      ["M", "Muži"]
    ],
    "races": [
      ["9km",   "9 km"],
      ["1100m", "1100 m"],
      ["500m",  "500 m"],
      ["250m",  "250 m"]
    ],
    "categories": [
      ["MA",  "M", "9km",   "Muži „A“",      1979, 2000],
      ["MB",  "M", "9km",   "Muži „B“",      1969, 1978],
      ["MC",  "M", "9km",   "Muži „C“",      1959, 1968],
      ["MD",  "M", "9km",   "Muži „D“",      null, 1958],
      ["FA",  "F", "9km",   "Ženy „A“",      1984, 2000],
      ["FB",  "F", "9km",   "Ženy „B“",      1974, 1983],
      ["FC",  "F", "9km",   "Ženy „C“",      null, 1973],
      ["DM",  "M", "1100m", "Dorostenci",    2001, 2005],
      ["DF",  "F", "1100m", "Dorostenky",    2001, 2005],
      ["JM1", "M", "500m",  "Starší žáci",   2006, 2008],
      ["JF1", "F", "500m",  "Starší žákyně", 2006, 2008],
      ["JM2", "M", "500m",  "Mladší žáci",   2009, 2011],
      ["JF2", "F", "500m",  "Mladší žákyně", 2009, 2011],
      ["CM",  "M", "250m",  "Děti",          2012, null],
      ["CF",  "F", "250m",  "Děti",          2012, null]
    ],
    "results": [
      [1,"MA",1,"36","Jakub Exner",1983,"Jihlava","35:16.00"],
      [2,"MB",1,"53","Pavel Musil",1975,"AC Moravská Slavie","35:17.00"],
      [3,"MA",2,"45","Petr Jeřábek",1993,"Velká Bíteš","36:16.00"],
      [4,"MA",3,"19","Martin Veleba",1998,"Runsport Team","37:31.00"],
      [5,"MA",4,"58","Filip Šolc",1985,"Ski Žabiny","40:14.00"],
      [6,"FB",1,"70","Hana Vejrostová",1983,"Lukovany","40:22.00"],
      [7,"MB",2,"16","Pavel Kuráň",1971,"Náměšť nad Oslavou","41:41.00"],
      [8,"MB",3,"80","Jaromír Mucha",1974,"NHÚ Balinka VM","41:58.00"],
      [9,"MB",4,"27","Miroslav Mucha",1974,"NHÚ Balinka VM","41:58.00"],
      [10,"MA",5,"29","Michal Blaha",1985,"BT Velká Bíteš","41:59.00"],
      [11,"MA",6,"59","Pavel Piskač",1985,"Horizontal Brno","42:09.00"],
      [12,"MD",1,"38","Ivan Januška",1958,"Šanov","42:15.00"],
      [13,"MA",7,"33","Filip Zeman",2000,"Vlkov","42:24.00"],
      [14,"MD",2,"20","Josef Nováček",1958,"SDH Čučice","42:29.00"],
      [15,"MB",5,"71","Pavel Kupka",1975,"Lukovany","43:07.00"],
      [16,"MA",8,"51","Lukáš Pakosta",1991,"Velká Bíteš","43:08.00"],
      [17,"MA",9,"63","Václav Berka",1983,"Pteam","43:43.00"],
      [18,"MB",6,"42","Petr Pokorný",1969,"Velká Bíteš","44:21.00"],
      [19,"MB",7,"28","Petr Širůček",1976,"Akuna Dolní Loučky","44:26.00"],
      [20,"MB",8,"26","Vítězslav Lenoch",1975,"SK Bobrava","44:55.00"],
      [21,"FA",1,"65","Denisa Lesslová",1987,"Atletic","46:06.00"],
      [23,"MB",9,"47","Tomáš Malec",1973,"Velké Meziříčí","46:16.00"],
      [22,"FB",2,"30","Michaela Tuháčková",1974,"Brno","46:16.00"],
      [24,"MB",10,"48","Radim Blažek",1977,"Velká Bíteš","46:41.00"],
      [25,"MA",10,"22","Pavel Částek",1981,"Dobrá Voda","46:55.00"],
      [26,"FA",2,"14","Petra Neklapilová",1995,"Velká Bíteš","47:21.00"],
      [27,"MC",1,"40","Miroslav Fabrik",1959,"Brno","47:52.00"],
      [28,"MA",11,"49","Michal Marek",1987,"Velká Bíteš","48:32.00"],
      [29,"MA",12,"81","Vojtěch Svoboda",1994,"Velké Meziříčí","49:34.00"],
      [30,"MA",13,"78","Miloš Minařík",1985,"Velká Bíteš","49:43.00"],
      [31,"MA",14,"21","Antonín Koukola",1985,"Velka Bites","50:02.00"],
      [32,"FB",3,"34","Martina Širůčková",1983,"Dolní Loučky","50:05.00"],
      [33,"FA",3,"32","Kateřina Jeřábková",1999,"Pánov","50:32.00"],
      [34,"FA",4,"55","Šárka Buková",1993,"Hrbov","50:47.00"],
      [35,"MD",3,"44","Martin Novák",1951,"Pucov","51:48.00"],
      [36,"FA",5,"76","Eliška Maloušková",2000,"Oslavice","51:52.00"],
      [37,"FA",6,"77","Iveta Marková",1993,"Velká Bíteš","53:14.00"],
      [38,"FA",7,"75","Klára Maloušková",1998,"Oslavice","54:48.00"],
      [39,"MB",11,"57","Petr OBOŘIL",1974,"Velká Bíteš","55:13.00"],
      [40,"FA",8,"9","Veronika Valoušková",1993,"Brno","55:20.00"],
      [41,"MB",12,"35","Jiří Blaha",1970,"Jihlava","56:00.00"],
      [42,"MB",13,"46","David Fránek",1978,"Brno","56:10.00"],
      [43,"FA",9,"79","Jana Rambousková",1994,"Vlkov","56:30.00"],
      [44,"FC",1,"41","Blanka Fabriková",1960,"Brno","56:35.00"],
      [45,"MC",2,"4","Martin Blaha",1965,"Velká Bíteš","56:51.00"],
      [46,"FA",10,"61","Vendula Berková",1988,"Brtnice","57:09.00"],
      [47,"MA",15,"37","Jiří Chlup",1999,"Křižínkov","57:30.00"],
      [48,"MA",16,"60","Jiří Dvořák",1995,"Velká Bíteš","57:35.00"],
      [49,"FB",4,"54","Iva Šťastná",1980,"Tišnov","58:03.00"],
      [50,"FB",5,"18","Iva Hrstková",1976,"Sanasport Runners Brno","58:10.00"],
      [51,"MA",17,"56","Pavel Kaštánek",1982,"Velká Bíteš","58:38.00"],
      [52,"FA",11,"52","Jana Melicharová",1989,"Velká Bíteš","58:54.00"],
      [53,"FB",6,"66","Kateřina Ostrá",1976,"Vranov","59:35.00"],
      [54,"FA",12,"8","Blanka Dvořáková",1993,"Velká Bíteš","59:59.00"],
      [55,"FA",13,"68","Martina Urbanová",1991,"Lesní Hluboké","1:00:34.00"],
      [56,"MA",18,"7","Jiří Urban",1987,"Lesní Hluboké","1:00:35.00"],
      [57,"MB",14,"50","Michal Potužník",1973,"Brno","1:01:07.00"],
      [58,"MA",19,"69","Jiří Holík",1985,"Lesní Hluboké","1:04:05.00"],
      [59,"FA",14,"3","Alžběta Blahová",1992,"Velká Bíteš","1:04:26.00"],
      [60,"FA",15,"5","Sandra Pavlíčková",1987,"Dolní Heřmanice","1:04:27.00"],
      [61,"MB",15,"73","Jan Hotárek",1973,"Velká Bíteš","1:04:31.00"],
      [62,"FA",17,"23","Tereza Dohnalová",1991,"Muštelky","1:06:24.00"],
      [63,"FA",16,"74","Dita Malášková",1992,"Muštelky","1:06:24.00"],
      [64,"FA",18,"6","Tereza Hotárková",1992,"Lesní Hluboké","1:16:03.00"],
      [65,"FB",7,"39","Veronika Raitmajerová",1977,"Náměšť nad Oslavou","1:16:04.00"],
      [null,"FA",null,"10","Lucie Holubářová",1995,"Velká Bíteš","DNF"],
      [1,"DM",1,"11","Tomáš Barák",2004,"VB","3:50.00"],
      [2,"DF",1,"127","Veronika Dočkalová",2005,"VB","6:58.00"],
      [1,"JM1",1,"131","Lukáš Blažek",2006,"VB","1:40.00"],
      [2,"JM1",2,"146","Lukáš Ambrož",2008,"Vídeň","1:47.00"],
      [3,"JM2",1,"132","Vojtěch Lachman",2009,"Dolní Loučky","1:52.00"],
      [4,"JM1",3,"149","Ondřej Drlíček",2008,"VB","1:59.00"],
      [5,"JM2",2,"151","Lukáš Kros",2009,"VB","2:01.00"],
      [6,"JM2",3,"153","Kryštof Hanzelka",2009,"","2:03.00"],
      [7,"JF1",1,"115","Sára Kosmáková",2006,"Jestřebí","2:03.00"],
      [8,"JM2",4,"112","Matěj Střecha",2009,"VB","2:06.00"],
      [9,"JM2",5,"102","Tomáš Buršík",2009,"Dolní Loučky","2:09.00"],
      [10,"JF1",2,"125","Tereza Dočkalová",2008,"VB","2:11.00"],
      [11,"JF2",1,"130","Darja Blažková",2010,"VB","2:13.00"],
      [13,"JF1",3,"116","Eliška Kosmáková",2007,"Jestřebí","2:16.00"],
      [12,"JF1",4,"150","Jana Pavlíčková",2007,"VB","2:16.00"],
      [14,"JM2",6,"147","Josef Kosour",2010,"VB","2:17.00"],
      [15,"JM2",7,"122","Ivan Strýžak",2009,"VB","2:18.00"],
      [17,"JM2",8,"110","Matěj Forejt",2010,"VB","2:20.00"],
      [16,"JM2",9,"114","Richard Ant. Kamínek",2011,"VB","2:20.00"],
      [18,"JF2",2,"135","Ema Slavíková",2009,"VB","2:21.00"],
      [19,"JM2",10,"148","Lukáš Drlíček",2010,"VB","2:25.00"],
      [21,"JF2",4,"126","Magdalena Dolíhalová",2011,"VB","2:30.00"],
      [20,"JF2",3,"103","Lenka Buršíková",2011,"Dolní Loučky","2:30.00"],
      [22,"JF2",5,"128","Štěpánka Blažková",2010,"VB","2:34.00"],
      [23,"JM2",11,"119","Jakub Holý",2009,"Lesní Hluboké","2:52.00"],
      [1,"CM",1,"140","Patrik Plechatý",2012,"Přibyslavice","1:04.00"],
      [2,"CM",2,"120","Matěj Holý",2012,"Lesní Hluboké","1:06.00"],
      [3,"CF",1,"105","Kristýna Kovaříková",2012,"VB","1:07.00"],
      [5,"CM",3,"124","Matyáš Kolka",2012,"VB","1:08.00"],
      [4,"CF",2,"104","Karolína Kovaříková",2012,"VB","1:08.00"],
      [6,"CM",4,"107","Filip Valeš",2012,"VB","1:09.00"],
      [7,"CF",3,"141","Klára Plechatá",2014,"Přibyslavice","1:10.00"],
      [8,"CM",5,"109","Tadeáš Forejt",2013,"VB","1:12.00"],
      [9,"CF",4,"129","Josefínka Blažková",2013,"VB","1:18.00"],
      [10,"CM",6,"106","Zdeněk Kovaříková",2014,"VB","1:20.00"],
      [11,"CF",5,"117","Bára Doležalová",2013,"VB","1:23.00"],
      [13,"CM",7,"142","Vít Kratochvíl",2014,"Krokočín","1:26.00"],
      [12,"CF",6,"144","Tereza Uherová",2012,"Brno","1:26.00"],
      [14,"CM",8,"145","Cyril Hanzelka",2014,"VB","1:27.00"],
      [15,"CF",7,"123","Nastazia Stryžak",2013,"VB","1:33.00"],
      [16,"CM",9,"134","Alexandr Gábliška",2015,"VB","1:37.00"],
      [17,"CF",8,"137","Markéta Exnerová",2014,"Pteam Jihlava","1:42.00"],
      [18,"CF",9,"138","Eliška Bláhová",2015,"VB","1:47.00"],
      [19,"CF",10,"139","Ina Rakovická",2015,"Jestřabí","1:59.00"],
      [20,"CM",10,"136","Tomáš Slavík",2015,"VB","2:06.00"],
      [21,"CF",11,"133","Patricie Burešová",2016,"VB","2:57.00"],
      [22,"CF",12,"143","Ludmila Kratochvílová",2017,"Krokočín","3:03.00"],
      [23,"CF",13,"118","Karolína Exnerová",2016,"Pteam Jihlava","3:07.00"],
      [24,"CF",14,"113","Anežka Ivančíková",2017,"VB","3:08.00"],
      [25,"CM",11,"121","Vojtěch Plechatý",2015,"Run Sport Team Křižínkov","3:10.00"],
      [26,"CF",15,"101","Valentinka Dohnalová",2016,"Muštelky","3:18.00"]
    ]
  }
</script>

{% include results-filter.html %}
{% include special-category.html female="Petra Neklapilová" male="Petr Jeřábek" %}
{% include categories-2018.html title="Vypsané kategorie" %}