---
layout: default
title: "Výsledky ročníku 2018"
permalink: "/vysledky/2018/"
year: "2018"
keywords: "výsledky 2018"
---

{% include print-and-proposition.html %}

<h1 class="py-3">{{ page.title }}</h1>

<h2 class="py-3">Závod 9&nbsp;km</h2>

{% include results.html year="2018" discipline="9km" %}

<h2 class="py-3">Závod 1100&nbsp;m</h2>

{% include results.html year="2018" discipline="1100m" %}

<h2 class="py-3">Závod 500&nbsp;m</h2>

{% include results.html year="2018" discipline="500m" %}

<h2 class="py-3">Závod 250&nbsp;m</h2>

{% include results.html year="2018" discipline="250m" %}

