---
layout: default
title: "Výsledky ročníku 2018"
permalink: "/vysledky/2018/"
year: "2018"
keywords: "výsledky 2018"
---

{% include print-and-proposition.html %}

<h1 class="py-3">{{ page.title }}</h1>

{% include results.html year="2018" discipline="9km" title="Závod 9&nbsp;km" %}
{% include results.html year="2018" discipline="1100m" title="Závod 1100&nbsp;m" %}
{% include results.html year="2018" discipline="500m" title="Závod 500&nbsp;m" %}
{% include results.html year="2018" discipline="250m" title="Závod 250&nbsp;m" %}

{% include categories-2018 title="Vypsané kategorie" %}
