---
layout: default
title: "Výsledky PoHodové devítky 2019"
permalink: "/vysledky/2019/"
year: "2019"
keywords: "výsledky 2019"
published: public
---

{% include print-and-proposition.html original=1 %}

<h1 class="py-3">{{ page.title }}</h1>

<script id="data" type="application/json">
  {
    "genders": [
      ["F", "Ženy"],
      ["M", "Muži"]
    ],
    "races": [
      ["9km",   "9 km"],
      ["1100m", "1100 m"],
      ["500m",  "500 m"],
      ["400m",  "400 m"],
      ["300m",  "300 m"]
    ],
    "categories": [
      ["MA",  "M", "9km",   "Muži „A“",      1980, 2001],
      ["MB",  "M", "9km",   "Muži „B“",      1970, 1979],
      ["MC",  "M", "9km",   "Muži „C“",      1960, 1969],
      ["MD",  "M", "9km",   "Muži „D“",      null, 1959],
      ["FA",  "F", "9km",   "Ženy „A“",      1985, 2001],
      ["FB",  "F", "9km",   "Ženy „B“",      1975, 1984],
      ["FC",  "F", "9km",   "Ženy „C“",      null, 1974],
      ["DM",  "M", "1100m", "Dorostenci",    2002, 2006],
      ["DF",  "F", "1100m", "Dorostenky",    2002, 2006],
      ["JM1", "M", "500m",  "Starší žáci",   2007, 2009],
      ["JF1", "F", "500m",  "Starší žákyně", 2007, 2009],
      ["JM2", "M", "400m",  "Mladší žáci",   2010, 2012],
      ["JF2", "F", "400m",  "Mladší žákyně", 2010, 2012],
      ["CM",  "M", "300m",  "Děti",          2013, null],
      ["CF",  "F", "300m",  "Děti",          2013, null]
    ],
    "results": [
      [1,"MA",1,"30","Jakub Exner",1983,"Swoboda Pteam","34:00"],
      [2,"MB",1,"50","Jaroslav Vítek",1972,"","34:16"],
      [3,"MA",2,"3","Roman Kocúrek",1986,"Air Force 212. tactical squadron Pteam","35:16"],
      [4,"MA",3,"2","Petr Jeřábek",1993,"HBK Velká Bíteš","36:56"],
      [5,"MB",2,"41","Miroslav Mucha",1974,"NHU Balinka VM","37:41"],
      [6,"MA",4,"7","Martin Veleba",1998,"Runsport Team/Velká Bíteš","37:49"],
      [7,"MA",5,"17","Jaroslav Novotný",1984,"AC Moravská Slavia","37:57"],
      [8,"MB",3,"42","Jaromír Mucha",1974,"NHU Balinka VM","38:38"],
      [9,"MA",6,"49","Filip Zeman",2001,"(Vlkov)","39:21"],
      [10,"MA",7,"8","Lukáš Pakosta",1991,"","39:25"],
      [11,"MA",8,"19","Marek Voborný",1989,"","40:24"],
      [12,"MB",4,"38","Vít Paták",1976,"Ruda","41:10"],
      [13,"MB",5,"40","Petr Širůček",1976,"Akuna Dolní Loučky","42:33"],
      [14,"MA",9,"12","Michal Blaha",1985,"BT Velká Bíteš","42:43"],
      [15,"MA",10,"23","Martin Blažek",2003,"(Zastávka)","42:47"],
      [16,"MC",1,"31","Miroslav Havelka",1963,"","43:02"],
      [17,"MD",1,"13","Josef Nováček",1958,"SDH Čučice","43:55"],
      [18,"MA",11,"15","Ivo Hertl",1980,"","44:34"],
      [19,"MB",6,"52","Josef Chodur",1975,"(Brno)","44:37"],
      [20,"MA",12,"53","Martin Trojan",1981,"Oslavice","45:40"],
      [21,"MA",13,"59","Vojtěch Svoboda",1994,"","45:46"],
      [22,"FA",1,"22","Denisa Lesslová",1987,"","45:57"],
      [23,"FA",2,"18","Jana Jeřábková",1998,"TJ Spartak Třebíč / Velká Bíteš","47:16"],
      [24,"FB",1,"21","Monika Tomanová",1977,"","47:24"],
      [25,"MB",7,"5","Radim Blažek",1977,"","47:34"],
      [26,"MA",14,"28","Pavel Částek",1981,"Sdružení pro sport a mládež Dobrá Voda","47:59"],
      [27,"FC",1,"27","Hana Lacinová",1970,"Havlíčkova Borová","48:10"],
      [28,"MC",2,"26","Václav Lacina",1969,"Havlíčkova Borová","48:11"],
      [29,"FA",3,"6","Jana Melicharová",1989,"Velká Bíteš","48:17"],
      [30,"FB",2,"39","Martina Širůčková",1983,"Loučky","48:26"],
      [31,"MA",15,"34","Ladislav Kluka",1984,"","48:38"],
      [32,"FC",2,"24","Michaela Tuháčková",1974,"","48:47"],
      [33,"MB",8,"48","Bernard Chmelíček",1978,"Velká Bíteš","49:37"],
      [34,"MB",9,"43","Roman Karemazin",1979,"","49:43"],
      [35,"MB",10,"9","Michal Koudelík",1973,"(Velké Meziříčí)","49:44"],
      [36,"MC",3,"36","Stanislav Kříbala",1963,"","50:09"],
      [37,"FA",4,"29","Marie Exnerová",1987,"Swoboda Pteam","52:17"],
      [38,"FB",3,"44","Iva Šťastná",1980,"","52:45"],
      [39,"FC",3,"46","Nikola Kuráňová",1972,"(Náměšť nad Oslavou)","53:24"],
      [40,"MB",11,"45","Pavel Kuráň",1971,"(Náměšť nad Oslavou)","53:24"],
      [41,"MA",16,"32","Vojtěch Havelka",1992,"","53:32"],
      [42,"FA",5,"57","Šárka Buková",1993,"","54:03"],
      [43,"MA",17,"54","Antonín Koukola",1985,"BKČS/ Velká Bíteš","54:19"],
      [44,"MD",2,"10","Miroslav Fabrik",1959,"","54:25"],
      [45,"MD",3,"16","Martin Novák",1951,"","54:56"],
      [46,"FC",4,"47","Jarka Dubová",1973,"Velká Bíteš","55:05"],
      [47,"MC",4,"1","Petr Veleba",1969,"Velká Bíteš","56:42"],
      [48,"FC",5,"11","Blanka Fabriková",1960,"","56:45"],
      [49,"MC",5,"33","Martin Blaha",1965,"Velká Bíteš","56:56"],
      [50,"MA",18,"55","Miloš Minařík",1985,"Velká Bíteš","57:01"],
      [51,"FA",6,"56","Jana Rambousková",1994,"(Vlkov)","57:03"],
      [52,"MA",19,"14","Tomáš Hamřík",1992,"","57:20"],
      [53,"FC",6,"51","Jana Kalová",1966,"","57:42"],
      [54,"FB",4,"35","Martina Rosická",1978,"","57:55"],
      [55,"MA",20,"37","Radek Lukášek",1980,"Velká Bíteš","58:08"],
      [56,"FA",7,"25","Michaela Marková",1989,"Velká Bíteš","58:43"],
      [57,"FC",7,"58","Irena Buková",1969,"","59:36"],
      [58,"FA",8,"20","Markéta Simandlová",1989,"","1:03:26"],
      [59,"MA",21,"4","Robin Robin",1984,"život","1:16:40"],
      [1,"DF",1,"215","Veronika Dočkalová",2005,"","07:06"],
      [1,"JM1",1,"222","Vojtěch Kalina",2007,"","02:21"],
      [2,"JM1",2,"217","Tomáš Buršík",2009,"","02:21"],
      [3,"JM1",3,"203","Adam Janoušek",2008,"","02:24"],
      [4,"JF1",1,"235","Barbora Tomková",2007,"","02:35"],
      [5,"JM1",4,"216","Marek Pallotti",2009,"","02:35"],
      [6,"JF1",2,"214","Tereza Dočkalová",2008,"","02:54"],
      [1,"JM2",1,"200","Vojtěch Leder",2010,"","01:43"],
      [2,"JF2",1,"226","Simona Václavíková",2011,"","01:44"],
      [3,"JM2",2,"244","Matěj Suchý",2011,"","01:46"],
      [4,"JF2",2,"213","Magdalena Dolíhalová",2011,"","01:59"],
      [5,"JM2",3,"211","Matěj Forejt",2010,"","01:59"],
      [6,"JF2",3,"202","Tereza Janoušková",2012,"","01:59"],
      [7,"JM2",4,"240","Ivan Rishko",2012,"","02:05"],
      [8,"JM2",5,"245","Patrik Plechatý",2012,"","02:06"],
      [9,"JF2",4,"209","Barbora Krupičková",2011,"","02:07"],
      [10,"JM2",6,"212","Matýáš Kolka",2012,"","02:07"],
      [11,"JF2",5,"239","Tereza Uherová",2012,"","02:11"],
      [12,"JM2",7,"243","Jonáš Dvořáček",2012,"","02:11"],
      [13,"JF2",6,"238","Helena Uherová",2010,"","02:21"],
      [14,"JF2",7,"204","Anna Marková",2012,"","02:23"],
      [15,"JF2",8,"236","Terezie Dubová",2011,"","02:27"],
      [1,"CF",1,"227","Saša Václavíková",2013,"","01:15"],
      [2,"CM",1,"210","Tadeáš Forejt",2013,"","01:24"],
      [3,"CF",2,"223","Marianne Mladá",2014,"","01:27"],
      [4,"CF",3,"218","Marika Chodurová",2014,"","01:29"],
      [5,"CF",4,"201","Adéla Leder",2014,"","01:30"],
      [6,"CF",5,"229","Markéta Exnerová",2014,"","01:30"],
      [7,"CF",6,"221","Anastasia Strižak",2013,"","01:32"],
      [8,"CM",2,"234","Alexandr Gábriška",2015,"","01:34"],
      [9,"CF",7,"241","Noemi Dvořáčková",2018,"","01:40"],
      [10,"CF",8,"205","Markéta Marková",2015,"","01:43"],
      [11,"CF",9,"224","Eliška Blahová",2015,"","01:51"],
      [12,"CM",3,"233","Marek Svoboda",2014,"","01:56"],
      [13,"CF",10,"230","Karolína Exnerová",2016,"","02:08"],
      [14,"CM",4,"220","Lukáš Kluka",2016,"","02:17"],
      [15,"CM",5,"242","Bohdan Dvořáček",2016,"","02:18"],
      [16,"CF",11,"231","Lea Marvanová",2015,"","02:18"],
      [17,"CM",6,"207","Vojtěch Plechatý",2015,"","02:25"],
      [18,"CM",7,"219","Hynek Chodur",2016,"","02:36"],
      [19,"CF",12,"228","Patricie Burešová",2016,"","02:44"],
      [20,"CM",8,"206","Štěpán Marek",2017,"","03:09"],
      [21,"CM",9,"225","Antonín Blaha",2017,"","03:10"],
      [22,"CM",10,"208","Jakub Plechatý",2018,"","03:10"],
      [23,"CM",11,"232","Mikuláš Marvan",2018,"","04:15"],
      [24,"CM",12,"237","Kryštof Urban",2017,"","04:18"]
    ]
  }
</script>

{% include results-filter.html %}
{% include special-category.html female="Jana Jeřábková" male="Petr Jeřábek" %}
{% include categories-2019.html title="Vypsané kategorie" %}
