---
layout: default
title: "Výsledky PoHodové devítky 2020"
permalink: "/vysledky/2020/"
year: "2020"
keywords: "výsledky 2020"
published: public
---

{% include print-and-proposition.html original=1 %}

<h1 class="py-3">{{ page.title }}</h1>

<script id="data" type="application/json">
  {
    "genders": [
      ["A", "Lidový běh"],
      ["F", "Ženy"],
      ["M", "Muži"]
    ],
    "races": [
      ["9km",   "Hlavní závod 9 km"],
      ["1200m", "1.2 km"],
      ["500m",  "500 m"],
      ["400m",  "400 m"],
      ["300m",  "300 m"]
    ],
    "categories": [
      ["MA",  "M", "9km",   "Muži „A“",        1981, 2002],
      ["MB",  "M", "9km",   "Muži „B“",        1971, 1980],
      ["MC",  "M", "9km",   "Muži „C“",        1961, 1970],
      ["MD",  "M", "9km",   "Muži „D“",        null, 1960],
      ["FA",  "F", "9km",   "Ženy „A“",        1986, 2002],
      ["FB",  "F", "9km",   "Ženy „B“",        1976, 1985],
      ["FC",  "F", "9km",   "Ženy „C“",        null, 1975],
      ["L",   "A", "1200m", "Lidový běh",      null, 2002],
      ["DM",  "M", "1200m", "Dorostenci",      2003, 2007],
      ["DF",  "F", "1200m", "Dorostenky",      2003, 2007],
      ["JM1", "M", "500m",  "Starší žáci",     2008, 2010],
      ["JF1", "F", "500m",  "Starší žákyně",   2008, 2010],
      ["JM2", "M", "400m",  "Mladší žáci",     2011, 2013],
      ["JF2", "F", "400m",  "Mladší žákyně",   2011, 2013],
      ["CM",  "M", "300m",  "Děti",            2014, null],
      ["CF",  "F", "300m",  "Děti",            2014, null]
    ],
    "results": [
      [1,"MA",1,"59","Ondřej Rosa",1988,"VSK Univerzita Brno","37:38"],
      [2,"MB",1,"60","Miroslav Mucha",1974,"NHÚ Balinka VM","37:49"],
      [3,"MA",2,"23","Filip Šolc",1985,"Ski Žabiny","38:02"],
      [4,"MB",2,"61","Jaromír Mucha",1974,"NHU Balinka","38:12"],
      [5,"MA",3,"5","Jan Jureček",1983,"","38:58"],
      [6,"MA",4,"2","Petr Jeřábek",1993,"","39:28"],
      [7,"MB",3,"40","Vít Paták",1976,"Becaro team","41:03"],
      [8,"MA",5,"47","Filip Zeman",2001,"","41:09"],
      [9,"MB",4,"53","Miroslav Volf",1973,"","41:19"],
      [10,"MA",6,"10","Tomáš Nejedlík",1989,"Voklobáci","41:40"],
      [11,"MA",7,"1","Martin Veleba",1998,"Runsport team","42:03"],
      [12,"MB",5,"64","Michal Koudelík",1973,"","42:09"],
      [13,"MA",8,"35","Jiří Dlouhý",1983,"Dobrá Voda","42:22"],
      [14,"MB",6,"24","Dalimil Fanfrdla",1973,"Matyteam","42:27"],
      [15,"MA",9,"63","Marek Voborný",1989,"Do půlky dobrý!","42:30"],
      [16,"MA",10,"27","Michal Blaha",1985,"BT Velká Bíteš","42:39"],
      [17,"MA",11,"36","Martin Blažek",2002,"","43:14"],
      [18,"MA",12,"22","Pavel Pískač",1985,"Horizontal Brno","43:34"],
      [19,"MA",13,"46","Marek Chadim",2000,"","43:45"],
      [20,"FB",1,"28","Monika Tomanová",1977,"AO Nové Město na Moravě","44:41"],
      [21,"MD",1,"32","Josef Nováček",1958,"SDH Čučice","45:27"],
      [22,"MB",7,"33","Petr Širůček",1976,"Dolní Loučky","45:34"],
      [23,"MC",1,"38","Miroslav Havelka",1963,"","47:11"],
      [24,"MB",8,"14","David Dvořáček",1977,"Běhám pro radost","47:31"],
      [25,"MA",14,"65","Vojtěch Svoboda",1994,"Casual Running Officials","48:03"],
      [26,"MB",9,"12","Radim Blažek",1977,"","48:31"],
      [27,"FA",1,"26","Jana Jeřábková",1998,"TJ Spartak Třebíč","48:50"],
      [28,"MD",2,"31","Jaromír Pospíchal",1959,"TJ Sokolnížkov","49:44"],
      [29,"MA",15,"54","Martin Tomek",1989,"","50:30"],
      [30,"FC",1,"6","Alice Marková",1970,"","50:32"],
      [31,"MC",2,"29","Václav Lacina",1969,"Havl. Borová","50:56"],
      [32,"MA",16,"37","Pavel Částek",1981,"Sdružení pro sport a mládež Dobrá Voda","51:01"],
      [33,"MD",3,"42","Miroslav Fabrik",1959,"","51:21"],
      [34,"MA",17,"9","Martin Filip",1986,"Voklobáci","51:27"],
      [35,"MC",3,"25","Luboš Jonáš",1964,"TJ Kozlov u Jihlavy","51:59"],
      [36,"MA",18,"52","Jakub Barbořík",1998,"Vlkov","52:11"],
      [37,"MC",4,"34","Stanislav Kříbala",1963,"Velké Meziříčí","52:21"],
      [38,"FA",2,"18","Andrea Jandová",1988,"","52:36"],
      [39,"MD",4,"7","Jaromír Marek",1946,"","53:02"],
      [40,"MA",19,"62","Tomáš Hamřík",1992,"","53:05"],
      [41,"FB",2,"55","Martina Širůčková",1983,"","53:15"],
      [42,"FC",2,"30","Hana Lacinová",1970,"Havl. Borová","54:06"],
      [43,"MB",10,"11","Michal Vejmělek",1979,"","54:17"],
      [44,"MB",11,"13","Jan Hotárek",1973,"Bítešan","55:00"],
      [45,"MA",20,"39","Vojtěch Havelka",1992,"","55:02"],
      [46,"MA",21,"20","Luděk Pelikán",1994,"Voklobáci","56:29"],
      [47,"MA",22,"51","Matěj Polách",1989,"Vlkov","57:11"],
      [48,"FA",3,"19","Adéla Pelikánová",1995,"Voklobáci","57:29"],
      [49,"MA",23,"57","Antonín Koukola",1985,"BKČS","57:39"],
      [50,"MB",12,"48","Milan Dufek",1979,"","57:44"],
      [51,"FA",4,"45","Nikola Komínková",1992,"","58:15"],
      [52,"FC",3,"4","Iva Librová",1974,"PERUN TEAM BLASKO","59:10"],
      [53,"FA",5,"56","Jana Melicharová",1989,"Velká Bíteš","59:16"],
      [54,"MB",13,"41","Radek Lukášek",1980,"","1:00:48"],
      [55,"FC",4,"43","Blanka Fabriková",1960,"","1:01:15"],
      [56,"MD",5,"21","Martin Novák",1951,"SDH Pucov","1:01:30"],
      [57,"FB",3,"17","Jiřina Pleslová",1984,"","1:02:09"],
      [58,"FC",5,"3","Radomíra Gromešová",1971,"PERUN TEAM BLASKO","1:03:38"],
      [59,"MA",24,"15","Lukáš Jeřábek",1991,"","1:05:18"],
      [60,"FA",6,"58","Tereza Dohnalová",1991,"","1:05:35"],
      [61,"FA",7,"44","Alžběta Blahová",1992,"","1:06:09"],
      [62,"FB",4,"16","Iveta Loupová",1984,"","1:09:00"],
      [63,"FC",6,"8","Hana Pelzová",1964,"","1:09:19"],
      [64,"FA",8,"50","Kashmira Vani",1996,"Vlkov","1:14:13"],
      [65,"MA",25,"49","Vojtěch Polách",1992,"Vlkov","1:14:13"],
      [1,"L",1,"603","Pavel Plechatý",1982,"Přibyslavice","05:55"],
      [2,"L",1,"605","Kateřina Hotárková",1990,"Bítešan","06:13"],
      [3,"DM",1,"606","Jan Krupička",2006,"","06:18"],
      [4,"DF",1,"600","Kristýna Kolářová",2007,"Křoví","06:19"],
      [5,"DF",2,"602","Kristýna Bradáčová",2007,"Křoví","06:20"],
      [6,"DF",3,"608","Magda Jobánková",2007,"","06:55"],
      [7,"DF",4,"609","Hana Ráčková",2006,"","07:27"],
      [8,"L",2,"604","Lenka Plechatá",1986,"Křižínkov","07:33"],
      [9,"DF",5,"607","Dana Ráčková",2007,"","07:39"],
      [10,"DF",6,"601","Mariana Maulénová",2007,"Křoví","07:39"],
      [1,"JM1",1,"422","Tomáš Buršík",2009,"","01:54"],
      [2,"JM1",2,"414","Matěj Škrapíšek",2010,"","01:57"],
      [3,"JM1",3,"401","Matěj Střecha",2009,"","01:58"],
      [4,"JM1",4,"452","Ivan Strižak",2009,"","02:01"],
      [5,"JF1",1,"409","Klára Smutná",2010,"","02:11"],
      [6,"JM1",5,"404","Ondřej Valach",2010,"","02:14"],
      [7,"JF1",2,"441","Sára Vejmělková",2010,"","02:14"],
      [8,"JF1",3,"418","Natálie Božková",2010,"","02:52"],
      [1,"JM2",1,"417","Fanda Buchta",2011,"","01:39"],
      [2,"JM2",2,"440","Vojtěch Ulman",2012,"","01:41"],
      [3,"JF2",1,"408","Barbora Krupičková",2011,"","01:47"],
      [4,"JM2",3,"419","Petr Bubniak",2012,"","01:48"],
      [5,"JF2",2,"423","Lenka Buršíková",2011,"","01:53"],
      [6,"JM2",4,"438","Ondřej Lukášek",2012,"","02:00"],
      [7,"JF2",3,"442","Nela Vejmělková",2013,"","02:06"],
      [8,"JM2",5,"424","Kryštof Božek",2012,"","02:11"],
      [9,"JF2",4,"403","Barbara Doleželová",2013,"","02:12"],
      [10,"JF2",5,"412","Sofie Drnová",2012,"","02:14"],
      [11,"JF2",6,"451","Anastacia Strižak",2013,"","02:21"],
      [1,"CM",1,"428","Pavel Dohnal",2014,"","01:08"],
      [2,"CM",2,"406","Alexandr Gábriška",2015,"","01:12"],
      [3,"CF",1,"402","Klára Plechatá",2014,"","01:12"],
      [4,"CM",3,"446","Prokop Dvořáček",2014,"","01:13"],
      [5,"CM",4,"420","Jan Bubniak",2015,"","01:14"],
      [6,"CM",5,"439","Miroslav Ulman",2014,"","01:14"],
      [7,"CM",6,"444","Petr Svoboda",2014,"","01:15"],
      [8,"CF",2,"416","Zuzana Staňková",2014,"","01:18"],
      [9,"CM",7,"405","Petr Valach",2015,"","01:20"],
      [10,"CM",8,"436","Zdeněk Havránek",2015,"","01:20"],
      [11,"CF",3,"437","Rozálie Lukášková",2015,"","01:25"],
      [12,"CF",4,"431","Eliška Blahová",2015,"","01:31"],
      [13,"CM",9,"407","Jiří Kincl",2016,"","01:33"],
      [14,"CF",5,"430","Darja Nazirová",2016,"","01:36"],
      [15,"CM",10,"447","Bohdan Dvořáček",2016,"","01:40"],
      [16,"CF",6,"400","Anežka Ivančiková",2017,"","01:41"],
      [17,"CM",11,"413","Marián Bemer",2015,"","01:42"],
      [18,"CF",7,"450","Anita Mazourová",2016,"","01:43"],
      [19,"CM",12,"415","Lukáš Dohnal",2017,"","01:45"],
      [20,"CF",8,"445","Patricie Burešová",2016,"","01:45"],
      [21,"CM",13,"443","Vilém Svoboda",2016,"","01:48"],
      [22,"CM",14,"421","Mirek Pospíšil",2017,"","01:48"],
      [23,"CM",15,"410","Vojtěch Plechatý",2015,"","01:52"],
      [24,"CM",16,"425","Mareček Vařílek",2016,"","01:52"],
      [25,"CF",9,"433","Kateřina Hotárková",2017,"","01:54"],
      [26,"CM",17,"432","Antonín Blaha",2017,"","02:06"],
      [27,"CF",10,"449","Noemi Dvořáčková",2018,"","02:41"],
      [28,"CF",11,"434","Liliana Hotárková",2018,"","02:44"],
      [29,"CM",18,"435","Kryštof Urban",2017,"","02:51"],
      [30,"CM",19,"426","Vít Hrdličková",2019,"","02:55"]
    ]
  }
</script>

{% include results-filter.html %}
{% include special-category.html female="Jana Jeřábková" male="Petr Jeřábek" %}
{% include categories-2020.html title="Vypsané kategorie" %}
