---
layout: default
title: "Výsledky PoHodové devítky 2021"
permalink: "/vysledky/2021/"
year: "2021"
keywords: "výsledky 2021"
published: public
---

{% include print-and-proposition.html original=1 %}

<h1 class="py-3">{{ page.title }}</h1>

<script id="data" type="application/json">
{
    "genders": [
      ["A", "Lidový běh"],
      ["F", "Ženy"],
      ["M", "Muži"]
    ],
    "races": [
      ["9km",   "Hlavní závod 9 km"],
      ["1200m", "1.2 km"],
      ["500m",  "500 m"],
      ["400m",  "400 m"],
      ["300m",  "300 m"]
    ],
    "categories": [
      ["MA",  "M", "9km",   "Muži „A“",        1982, 2003],
      ["MB",  "M", "9km",   "Muži „B“",        1972, 1981],
      ["MC",  "M", "9km",   "Muži „C“",        1962, 1971],
      ["MD",  "M", "9km",   "Muži „D“",        null, 1961],
      ["FA",  "F", "9km",   "Ženy „A“",        1987, 2003],
      ["FB",  "F", "9km",   "Ženy „B“",        1977, 1986],
      ["FC",  "F", "9km",   "Ženy „C“",        null, 1976],
      ["L",   "A", "1200m", "Lidový běh",      null, 2003],
      ["DM",  "M", "1200m", "Dorostenci",      2004, 2008],
      ["DF",  "F", "1200m", "Dorostenky",      2004, 2008],
      ["JM1", "M", "500m",  "Starší žáci",     2009, 2011],
      ["JF1", "F", "500m",  "Starší žákyně",   2009, 2011],
      ["JM2", "M", "400m",  "Mladší žáci",     2012, 2014],
      ["JF2", "F", "400m",  "Mladší žákyně",   2012, 2014],
      ["CM",  "M", "300m",  "Děti",            2015, null],
      ["CF",  "F", "300m",  "Děti",            2015, null]
    ],
    "results": [
      [1,"MA",1,"51","Martin Vodák",1991,"","00:35:50"],
      [2,"MB",1,"16","Miroslav Mucha",1974,"NHÚ Balinka VM","00:38:05"],
      [3,"MA",2,"52","Filip Zeman",2001,"","00:38:24"],
      [4,"MB",2,"23","Jiří Kolář",1976,"Hammer OCR team","00:38:27"],
      [5,"MA",3,"7","Martin Blažek",2003,"Biatlonklub Říčany","00:38:35"],
      [6,"MA",4,"1","Petr Jeřábek",1993,"Bětka team","00:38:45"],
      [7,"MA",5,"48","Marek Chadim",2000,"","00:40:54"],
      [8,"MB",3,"47","Miroslav Volf",1973,"","00:41:01"],
      [9,"MA",6,"29","Tomáš Horký",1999,"","00:41:05"],
      [10,"MA",7,"18","Tomáš Nejedlík",1989,"Voklobaci","00:41:29"],
      [11,"MB",4,"12","Jaroslav Beneš",1978,"ShiJi Do","00:41:40"],
      [12,"MA",8,"19","Jiří Dlouhý",1983,"Dobrá Voda","00:42:53"],
      [13,"MA",9,"13","Luděk Borkovec",1985,"Dolní Loučky","00:43:39"],
      [14,"MC",1,"6","Jiří Nožka",1963,"Třebíč","00:43:48"],
      [15,"MA",10,"41","Vít Fousek",2006,"","00:44:03"],
      [16,"MA",11,"8","Michal Blaha",1985,"BT Velká Bíteš","00:44:11"],
      [17,"FC",1,"22","Šárka Kolářová",1976,"Hammer OCR team","00:44:32"],
      [18,"MB",5,"49","Petr Širůček",1976,"Dolní Loučky","00:45:02"],
      [19,"MA",12,"44","Tomáš Bojanovský",1987,"","00:45:11"],
      [10,"MC",2,"39","Miroslav Havelka",1963,"HavCar","00:45:23"],
      [21,"FA",1,"26","Jana Jeřábková",1998,"TJ Spartak Třebíč","00:45:24"],
      [22,"FC",2,"14","Lucie Novotná",1975,"2BWINNWER TEAM","00:45:59"],
      [23,"MB",6,"2","Bernard Chmelíček",1978,"","00:46:23"],
      [24,"FB",1,"4","Monika Tomanová",1977,"TJ Nové Město na Moravě","00:46:27"],
      [25,"MB",7,"11","David Vránek",1978,"Brno","00:46:44"],
      [26,"FA",2,"32","Jana Melicharová",1989,"Velká Bíteš","00:47:08"],
      [27,"MD",1,"17","Josef Nováček",1958,"SDH Čučice","00:47:24"],
      [28,"FA",3,"27","Kateřina Jeřábková",1999,"","00:48:26"],
      [29,"MC",3,"5","Ladislav Feifer",1963,"Lomnice","00:48:55"],
      [20,"MB",8,"45","Aleš Geisselreiter",1973,"","00:49:06"],
      [31,"FA",4,"15","Ivana Diešková",1996,"","00:49:09"],
      [32,"FC",3,"3","Jarka Dubová",1973,"","00:49:37"],
      [33,"MA",13,"24","Jan Feller",1991,"NVB","00:50:02"],
      [34,"MA",14,"35","Vlastimil Veselý",2001,"Brno","00:50:06"],
      [35,"FC",4,"20","Romana Hamšíková",1975,"Syrovice","00:51:33"],
      [36,"MA",15,"42","Albert Zemek",1995,"","00:51:53"],
      [37,"MB",9,"46","Pavel Částek",1981,"Dobrá Voda","00:52:04"],
      [38,"FA",5,"31","Andrea Jandová",1988,"Ořechov","00:52:09"],
      [39,"MA",16,"21","Martin Filip",1986,"Voklobáci","00:52:15"],
      [30,"FB",2,"36","Pavla Chodurová",1986,"","00:52:28"],
      [41,"MB",10,"37","Josef Chodur",1975,"","00:52:29"],
      [42,"MB",11,"50","Milan Dufek",1979,"Běžecký klub Lánice","00:55:38"],
      [43,"MB",12,"34","Jiří Smrček",1976,"Brno","00:55:53"],
      [44,"MA",17,"40","Vojtěch Havelka",1992,"HavCar","00:56:03"],
      [45,"FA",6,"43","Marianna Kušová",1988,"","00:57:26"],
      [46,"FC",5,"25","Iva Hrstková",1976,"","00:58:02"],
      [47,"FA",7,"38","Tereza Dohnalová",1991,"","00:59:04"],
      [48,"MB",13,"33","Petr Kubíček",1976,"Brno","00:59:27"],
      [49,"FA",8,"9","Adéla Pelikánová",1995,"Voklobáci","01:01:33"],
      [40,"MA",18,"10","Luděk Pelikán",1994,"Voklobáci","01:01:33"],
      [51,"MD",2,"28","Martin Novák",1951,"SDH Pucov","01:03:04"],
      [52,"FB",3,"30","Iveta Loupová",1984,"Ořechov","01:06:49"],
      [1,"CM",1,"103","Alexandr Gábliška",2015,"Velká Bíteš","00:01:03"],
      [2,"CM",2,"145","Matyáš Prešer",2016,"Velká Bíteš","00:01:12"],
      [3,"CM",3,"121","Zdenek Havránek",2015,"Velká Bíteš","00:01:15"],
      [4,"CF",1,"126","Eliška Bábková",2015,"Brno","00:01:18"],
      [5,"CF",2,"136","Julie Horníčková",2016,"Velká Bíteš","00:01:19"],
      [6,"CM",4,"109","Vojtěch Plechatý",2015,"Křižínkov","00:01:24"],
      [7,"CM",5,"106","David Doubek",2016,"Velká Bíteš","00:01:27"],
      [8,"CM",6,"123","Jiří Kincl",2016,"Velká Bíteš","00:01:27"],
      [9,"CM",7,"117","Lukáš Dohnal",2017,"Lesní Hluboké","00:01:28"],
      [10,"CF",3,"120","Bára Patáková",2017,"Velká Bíteš","00:01:29"],
      [11,"CM",8,"137","David Komínek",2016,"Velká Bíteš","00:01:29"],
      [12,"CM",9,"116","Marián Bémer",2015,"Velká Bíteš","00:01:29"],
      [13,"CF",4,"108","Anežka Ivančiková",2017,"Velká Bíteš","00:01:32"],
      [14,"CF",5,"132","Barbora Holíková",2016,"Velká Bíteš","00:01:34"],
      [15,"CF",6,"143","Ludmila Kratochvílová",2017,"Krokočí","00:01:37"],
      [16,"CF",7,"128","Patricie Burešová",2016,"Velká Bíteš","00:01:39"],
      [17,"CF",8,"111","Emma Geisselreiterová",2017,"Velká Bíteš","00:01:47"],
      [18,"CF",10,"114","Erin Anna Kocúrková",2020,"Pteam","00:01:51"],
      [19,"CF",9,"138","Simona Komínková",2018,"Velká Bíteš","00:01:51"],
      [10,"CM",10,"124","Karel Ekrt",2016,"Velká Bíteš","00:01:51"],
      [21,"CF",11,"125","Vanesa Ekrtová",2018,"Velká Bíteš","00:01:53"],
      [22,"CM",11,"129","Bruno Špaček",2016,"Velká Bíteš","00:01:54"],
      [23,"CM",12,"115","Antonín Blaha",2017,"Velká Bíteš","00:01:54"],
      [24,"CM",13,"112","Štěpán Machulán",2021,"Velká Bíteš","00:01:56"],
      [25,"CF",12,"101","Nikol Brymová",2018,"Velká Bíteš","00:02:01"],
      [26,"CF",13,"105","Ema Suchá",2019,"Velká Bíteš","00:02:02"],
      [27,"CM",14,"122","Pavel Havránek",2018,"Velká Bíteš","00:02:03"],
      [28,"CM",15,"110","Jakub Plechaty",2018,"Křižínkov","00:02:09"],
      [29,"CM",16,"113","Alan Horký",2017,"Velká Bíteš","00:02:13"],
      [20,"CM",17,"139","Lukáš Melichar",2017,"Velká Bíteš","00:02:20"],
      [21,"CF",14,"134","Iveta Hrdličková",2019,"Naloučny","00:02:21"],
      [22,"CM",18,"135","Vít Hrdlička",2019,"Naloučny","00:02:44"],
      [23,"CF",15,"144","Emily Prešerová",2019,"Velká Bíteš","00:02:45"],
      [24,"CF",16,"102","Zuzana Brymová",2019,"Velká Bíteš","00:02:56"],
      [25,"CF",17,"133","Petra Holíková",2019,"Velká Bíteš","00:03:04"],
      [null,"CM",null,"127","Petr Bábek",2017,"Brno","DNS"],
      [1,"JF2",1,"149","Alexandra Václavíková",2013,"","00:01:51"],
      [2,"JM2",1,"147","Patrik Plechatý",2012,"Přibyslavice","00:01:56"],
      [3,"JM2",2,"118","Pavel Dohnal",2014,"Lesní Hluboké","00:01:59"],
      [4,"JF2",2,"146","Klára Plechatá",2014,"Přibyslavice","00:02:03"],
      [5,"JF2",3,"130","Vendulka Stará",2014,"Velká Bíteš","00:02:08"],
      [6,"JM2",3,"119","Jan Paták",2014,"Velká Bíteš","00:02:13"],
      [7,"JF2",4,"131","Tereza Holíková",2013,"Velká Bíteš","00:02:14"],
      [8,"JF2",5,"107","Barbara Doležalová",2013,"Svratka","00:02:14"],
      [9,"JM2",4,"142","Vít Kratochvíla",2014,"Krokočí","00:02:17"],
      [1,"JM1",1,"140","Tomáš Buršík",2009,"Dolní Loučky","00:02:01"],
      [2,"JF1",1,"150","Simona Václavíková",2011,"","00:02:02"],
      [3,"JF1",2,"141","Lenka Buršíková",2011,"Dolní Loučky","00:02:37"],
      [1,"DM",1,"153","Jiří Uchytil",2006,"TJ Nové Město na Moravě","00:04:43"],
      [2,"DM",2,"148","Jáchym Pytlík",2008,"","00:05:09"],
      [3,"L",1,"154","Pavel Hotař",1990,"Pteam","00:05:25"],
      [4,"DF",1,"152","Simona Václavíková",2011,"Rajhrad","00:05:36"],
      [5,"DF",2,"151","Kateřina Novotná",2008,"Vodní sporty Brno","00:05:58"],
      [6,"DF",3,"104","Barbora Tomková",2007,"Bezděkov","00:06:43"]
    ]
  }
</script>

{% include results-filter.html %}
{% include special-category.html female="Jana Jeřábková" male="Petr Jeřábek" %}
{% include categories-2021.html title="Vypsané kategorie" %}
