<div itemscope itemtype="http://schema.org/Table">
  <h2 class="my-3" itemprop="about">{{ include.title }}</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-sm">
      <thead>
        <tr>
          <th colspan="2">MUŽI</th>
          <th colspan="2">ŽENY</th>
          <th rowspan="2">ZÁVOD</th>
        </tr>
        <tr>
          <th>Kategorie</th>
          <th>Ročník narození</th>
          <th>Kategorie</th>
          <th>Ročník narození</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Muži</td>
          <td>všechny ročníky</td>
          <td>Ženy</td>
          <td>všechny ročníky</td>
          <td>Hlavní 9&nbsp;km</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>