<div itemscope itemtype="http://schema.org/Table">
  <h2 class="my-3" itemprop="about">{{ include.title }}</h2>
  <div class="table-responsive">
    <table class="table table-condensed table-bordered table-sm">
      <thead>
        <tr>
          <th colspan="2">MUŽI</th>
          <th colspan="2">ŽENY</th>
          <th rowspan="2">ZÁVOD</th>
        </tr>
        <tr>
          <th>Kategorie</th>
          <th>Ročník narození</th>
          <th>Kategorie</th>
          <th>Ročník narození</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span class="text-muted">MA</span> Muži „A“</td>
          <td>1979&ndash;2000</td>
          <td><span class="text-muted">FA</span> Ženy „A“</td>
          <td>1984&ndash;2000</td>
          <td rowspan="4">Hlavní 9&nbsp;km</td>
        </tr>
        <tr>
          <td><span class="text-muted">MB</span> Muži „B“</td>
          <td>1969&ndash;1978</td>
          <td><span class="text-muted">FB</span> Ženy „B“</td>
          <td>1974&ndash;1983</td>
        </tr>
        <tr>
          <td><span class="text-muted">MC</span> Muži „C“</td>
          <td>1959&ndash;1968</td>
          <td><span class="text-muted">FC</span> Ženy „C“</td>
          <td>1973 a starší</td>
        </tr>
        <tr>
          <td><span class="text-muted">MD</span> Muži „D“</td>
          <td>1958&ndash;starší</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td><span class="text-muted">DM</span> Dorostenci</td>
          <td>2001&ndash;2005</td>
          <td><span class="text-muted">DF</span> Dorostenky</td>
          <td>2001&ndash;2005</td>
          <td>1100&nbsp;m</td>
        </tr>
        <tr>
          <td><span class="text-muted">JM1</span> Starší žáci</td>
          <td>2006&ndash;2008</td>
          <td><span class="text-muted">JF1</span> Starší žákyně</td>
          <td>2006&ndash;2008</td>
          <td>500&nbsp;m</td>
        </tr>
        <tr>
          <td><span class="text-muted">JM2</span> Mladší žáci</td>
          <td>2009&ndash;2011</td>
          <td><span class="text-muted">JF2</span> Mladší žákyně</td>
          <td>2009&ndash;2011</td>
          <td>500&nbsp;m</td>
        </tr>
        <tr>
          <td><span class="text-muted">CM</span> Chlapci</td>
          <td>2012 a mladší</td>
          <td><span class="text-muted">CF</span> Dívky</td>
          <td>2012 a mladší</td>
          <td>250&nbsp;m</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>