<div class="btn-toolbar justify-content-end d-print-none" role="toolbar">
  {% if include.original %}
  <a
    href="/files/Vysledky-{{ page.year }}.pdf"
    class="btn btn-md btn-success me-2"
    title="Stáhne originální soubor s výsledky od poskytovatele časomíry"
  >
    {% include icon-download.svg %}
    Originál
  </a>
  {% endif %}
  <a
    href="#"
    class="btn btn-md btn-success me-2"
    onclick="window.print(); return false;"
    title="Zobrazit stránku k tisku"
  >
    {% include icon-print.svg %}
    Tisk
  </a>
  <a
    class="btn btn-md btn-secondary"
    href="/files/Propozice-{{ page.year }}.pdf"
    target="_blank"
    rel="noopener"
    title="Stáhnout propozice jako PDF"
  >
    {% include icon-download.svg %}
    Propozice
  </a>
</div>

<hr class="d-print-none">
