<div id="menu-sponsors" class="py-3">
  <a
    href="http://www.posilovna-tisnov.cz"
    title="Sponzor závodu: Fitcentrum OLMPIA Tišnov"
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="fitness-tisnov.png"
  ></a>
  <a
    href="http://www.mannen.cz"
    title="Sponzor závodu: N. MANNEN, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="kargoma.png"
  ></a>
  <a
    href="http://www.agfoods.eu"
    title="Sponzor závodu: AG FOODS Group, a.s."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="agfoods.jpg"
  ></a>
  <a
    href="http://www.alfaagro.cz"
    title="Sponzor závodu: Alfa Agro Brno, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="alfaagro.png"
  ></a>
  <a
    href="http://www.bibusmetals.cz"
    title="Sponzor závodu: BIBUS METALS s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="bibusmetals.png"
  ></a>
  <a
    href="http://www.fabory.cz"
    title="Sponzor závodu: Fabory, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="fabory.png"
  ></a>
  <a
    href="http://www.pbsvb.cz"
    title="Sponzor závodu: První brněnská strojírna Velká Bíteš, a.s."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="pbsvb.png"
  ></a>
  <a
    href="http://www.promatservis.cz"
    title="Sponzor závodu: Promat servis, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="promatservis.jpg"
  ></a>
  <a
    href="http://www.vbites.cz"
    title="Sponzor závodu: Velká Bíteš"
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="vbites.png"
  ></a>
  <a
    href="http://www.primapol.cz"
    title="Sponzor závodu: Primapol-Metal-Spot, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="primapol.png"
  ></a>
  <a
    href="http://www.vbites.cz/zivot-ve-meste/2017-03-28-07-19-31/informacni-centrum-a-klub-kultury"
    title="Sponzor závodu: Informační centrum - Klub kultury - Velká Bíteš"
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="ickk.png"
  ></a>
  <a
    href="http://www.jerabkovapekarna.cz"
    title="Sponzor závodu: Jeřábkova pekárna, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="jerabkovapekarna.jpg"
  ></a>
  <a
    href="http://www.mtmetal.com"
    title="Sponzor závodu: MT-Metal Trade, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="mtmetal.png"
  ></a>
  <!--
  <a
    href="http://www.kovyaslitiny.cz"
    title="Sponzor závodu: Kovy a slitiny, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="kovyaslitiny.png"
  ></a>
  <a
    href="http://www.itwcz.com"
    title="Sponzor závodu: ITW PRONOVIA, s.r.o"
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="itwcz.png"
  ></a>
  -->
  <a
    href="http://www.zamecnictvinemec.cz"
    title="Sponzor závodu: Zámečnictví Němec, s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="zamecnictvinemec.png"
  ></a>
  <a
    href="http://www.dynamicmetalsltd.cz"
    title="Sponzor závodu: Dynamic Metals Ltd"
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="dynamicmetals.png"
  ></a>
  <a
    href="http://www.slamamilan.cz"
    title="Sponzor závodu: UZENÁŘSTVÍ A LAHŮDKY SLÁMA s.r.o."
    target="_blank"
    rel="noopener noreferrer"
    data-background-image="slamamilan.png"
  ></a>
</div>
