<ul class="navbar-nav justify-content-end">
  <li class="nav-item{% if page.url == '/propozice/' %} active{% endif %}">
    <a class="nav-link" href="/propozice/">Propozice</a>
  </li>

  <li class="nav-item">
    <a
      class="nav-link"
      href="{{ site.gallery_url }}"
      target="_blank"
      rel="noopener noreferrer"
      >Fotogalerie</a
    >
  </li>

  <li class="nav-item{% if page.url == '/novinky/' %} active{% endif %}">
    <a class="nav-link" href="/novinky/">Novinky</a>
  </li>

  <li
    class="nav-item dropdown{% if page.url contains '/vysledky/' %} active{% endif %}"
  >
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      id="vysledky-top-dropdown"
    >
      Výsledky <span class="caret"></span>
    </a>
    <ul
      class="dropdown-menu"
      role="menu"
      aria-labelledby="vysledky-top-dropdown"
    >
      {% for rocnik in site.vysledky reversed %}
      <li
        class="dropdown-item{% if page.url == rocnik.url %} active{% endif %}"
      >
        <a class="nav-link" href="{{ rocnik.url }}">{{ rocnik.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </li>

  <li
    class="nav-item dropdown{% if page.url == '/kdo-jsme/' or page.url == '/jak-to-cele-vzniklo/' %} active{% endif %}"
  >
    <a
      class="nav-link dropdown-toggle"
      data-toggle="dropdown"
      href="#"
      role="button"
      aria-haspopup="true"
      aria-expanded="false"
      id="navbarDropdownMenuLink"
    >
      O závodě <span class="caret"></span>
    </a>
    <ul
      class="dropdown-menu"
      role="menu"
      aria-labelledby="navbarDropdownMenuLink"
    >
      <li
        class="dropdown-item{% if page.url == '/trasa-zavodu/' %} active{% endif %}"
      >
        <a class="nav-link" href="/trasa-zavodu/">Trasa závodu</a>
      </li>
      <li
        class="dropdown-item{% if page.url == '/kdo-jsme/' %} active{% endif %}"
      >
        <a class="nav-link" href="/kdo-jsme/">Kdo jsme?</a>
      </li>
      <li
        class="dropdown-item{% if page.url == '/jak-to-cele-vzniklo/' %} active{% endif %}"
      >
        <a class="nav-link" href="/jak-to-cele-vzniklo/">
          Jak to celé vzniklo?
        </a>
      </li>
    </ul>
  </li>
</ul>
