@import "variables";
@import "bootstrap/scss/bootstrap";


main {
  background-color: #e6efef;
}
.red {
  color: $red;
}
.basic-dark {
  color: $black;
}
.basic-green {
  color: $green;
}

svg {
  display: inline-block;
  line-height: 1;
}
.btn svg {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}
.btn-success svg,
.btn-secondary svg,
.btn-primary svg {
  fill: white;
}

footer {
  content-visibility: auto;
}

footer a.nav-link svg {
  fill: $black;
  width: 2em;
  height: 2em;
}

#menu-sponsors {
  a {
    margin: 5px;
    outline: none;
    text-decoration: none;
  }
}
.carousel img {
  max-height: 500px;
  margin: 0 auto;
  background-color: white;
}

table .number {
  text-align: right;
  width: 1%;
}

#countdown {
  font-size: x-large;
}

#phd-navbar > ul > li > .nav-link {
  font-size: 21px;
}

@media print {
  table.results {
    margin: 0;
    abbr {
      text-decoration: none !important;
      border: none !important;
    }
    abbr[title]:after {
      content: none !important;
    }
  }

  @page {
    size: 210mm 297mm;
  }
}


