#menu-sponsors {
  line-height: 80px;
  text-align: center;
  a {
    display: inline-block;
    margin: 5px;
    outline: none;
    text-decoration: none;
    vertical-align: middle;
    height: 50px;
    overflow: hidden;
  }
  img {
    display: block;
  }
  /* Begin of "Genereated with bin/sponsors.js" */
  a[href="http://www.mannen.cz"] {
    width: 222px;
    height: 49px;
  }
  a[href="http://www.vyziva-pro-fitness.cz"] {
    width: 224px;
    height: 49px;
  }
  a[href="http://www.agfoods.eu"] {
    width: 216px;
    height: 51px;
  }
  a[href="http://www.alfaagro.cz"] {
    width: 195px;
    height: 56px;
  }
  a[href="http://www.bibusmetals.cz"] {
    width: 263px;
    height: 42px;
  }
  a[href="http://www.fabory.cz"] {
    width: 252px;
    height: 44px;
  }
  a[href="http://www.pbsvb.cz"] {
    width: 249px;
    height: 44px;
  }
  a[href="http://www.promatservis.cz"] {
    width: 197px;
    height: 56px;
  }
  a[href="http://www.vbites.cz"] {
    width: 151px;
    height: 73px;
  }
  a[href="http://www.primapol.cz"] {
    width: 235px;
    height: 47px;
  }
  a[href="http://www.vbites.cz/zivot-ve-meste/2017-03-28-07-19-31/informacni-centrum-a-klub-kultury"] {
    width: 172px;
    height: 64px;
  }
  a[href="http://www.jerabkovapekarna.cz"] {
    width: 125px;
    height: 88px;
  }
  a[href="http://www.mtmetal.com"] {
    width: 105px;
    height: 104px;
  }
  a[href="http://www.kovyaslitiny.cz"] {
    width: 121px;
    height: 91px;
  }
  a[href="http://www.itwcz.com"] {
    width: 148px;
    height: 74px;
  }
  a[href="http://www.zamecnictvinemec.cz"] {
    width: 212px;
    height: 52px;
  }
  a[href="http://www.dynamicmetalsltd.cz"] {
    width: 289px;
    height: 38px;
  }
  a[href="http://www.slamamilan.cz"] {
    width: 124px;
    height: 89px;
  }
}
