@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$green: #b5ca01;
$red:   #cc0000;
$black: #2d1a2e;
$body-bg: white;
$body-color: $black;
$dark: #707173;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $green,
  "info":       $info,
  "warning":    $warning,
  "danger":     $red,
  "light":      $light,
  "dark":       $dark
);

$dropdown-bg:                   $dark;
$dropdown-link-hover-bg:        darken($dark, 5%);
$dropdown-link-active-bg:       lighten($dark, 5%);
$navbar-dark-color:             $light;
$navbar-dark-active-color:      $green;
