<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="pohodovadevitka.cz">
    <meta property="og:title" content="{{ page.title }} - Pohodová Devítka - Běžecký závod Velké Bíteše">
    <meta property="og:image" content="{{ site.url }}/images/logo.jpg">
    <meta property="og:url" content="{{ site.url }}">
    {% if page.description %}
      <meta name="description" content="{{ page.description }}">
      <meta property="og:description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="Zveme Vás na běžecký závod ve Velké Bíteše, který se pořádá v září, vždy po zdejších hodech. Hlavní trasa měří vždy 9km, pro děti pořádáme kratší závod.">
      <meta property="og:description" content="Zveme Vás na běžecký závod ve Velké Bíteše, který se pořádá v září, vždy po zdejších hodech. Hlavní trasa měří vždy 9km, pro děti pořádáme kratší závod.">
    {% endif %}
    <meta name="keywords" content="{{ page.keywords }},běžecký závod,běh,running">

    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index,follow,snippet,archive">

    <meta name="google-site-verification" content="pJ7I-HwWm8YUTXRSjXXTFZpRgMFA8ag9hI9fWOMQB3s">
    <meta name="norton-safeweb-site-verification" content="i-2dkv85i5qfaxk581tmni1j73udnwfg7lwfzvv08nbe3t351lgsg5e81xexvyrx-h1b0pd3s0nxyir6f41ley5vmkknxfj8rqqx7h4b3x33uliqfieyvmm-5rlo7ose">

    <meta name="theme-color" content="#ffffff">

    <title>{{ page.title }} - PoHodová devítka</title>

    <base href="{{ site.url }}">

    {% feed_meta %}

    {% if page.previous.url %}
    <link rel="prev" href="{{ page.previous.url }}">
    {% endif %}
    {% if page.next.url %}
    <link rel="next" href="{{ page.next.url }}">
    {% endif %}
    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    >
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    >
    <link
      rel="stylesheet"
      href="{{ '/css/main.css' | relative_url }}"
    >
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131161706-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131161706-1');
    </script>
  </head>
  <body>
    <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a href="/" id="logo" class="navbar-brand">
            <img
              src="/images/logo-sm.png"
              alt="logo"
              title="PoHodová Devítka - běžecký závod Velké Bíteše"
              class="d-inline d-lg-none"
              width="34"
              height="34"
            >
            <img
              src="/images/logo-lg.png"
              alt="logo"
              title="PoHodová Devítka - běžecký závod Velké Bíteše"
              class="d-none d-lg-inline my-2"
              width="300"
              height="45"
            >
            <span class="sr-only">PoHodová Devítka - běžecký závod Velké Bíteše</span>
          </a>

          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#phd-navbar"
            aria-controls="phd-navbar"
            aria-expanded="false"
            aria-label="Přepnout navigaci"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="collapse navbar-collapse justify-content-end"
            id="phd-navbar"
          >
            {% include top_menu.html %}
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="container py-3">{{ content }}</div>
    </main>

    <footer class="d-print-none">
      <div class="container-fluid">
        {% include sponsors.html %}

        <ul class="nav justify-content-center pb-3">
          <li class="nav-item">
            <a class="nav-link text-secondary" href="http://www.pohodovadevitka.cz" title="Web závodu">
              <i class="fas fa-home"></i> www.pohodovadevitka.cz
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="http://www.facebook.com/pohodovadevitka" title="Facebook závodu">
              <i class="fab fa-facebook"></i> www.facebook.com/pohodovadevitka
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-secondary" href="mailto:pohodovadevitka@gmail.com" title="E-mail závodu">
              <i class="fas fa-envelope"></i> pohodovadevitka@gmail.com
            </a>
          </li>
        </ul>
        <p class="text-muted text-center">
          &copy; Zdeněk Kundera 2014 - 2019
          |
          Stránky vytvořil <a class="text-secondary" href="mailto:jaroslav.novotny.84@gmail.com" title="Kontakt na autora webu">Jaroslav Novotný</a>
        </p>
      </div>
    </footer>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
    <script
      src="/js/main.js"
      integrity="sha384-p6wF/fZBbL72U+2qCkXLbh3XqdaW9uv6JsdufUcu+QWDWrl0l0F+Kbta2zceq22+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
