---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/NewsArticle">
  <header>
    <div class="text-muted text-right">
      <i class="fas fa-calendar"></i>
      Publikováno
      <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d.%-m.%Y %k:%M" }}</time>
    </div>
    <h1 class="py-3" itemprop="name">{{ page.title }}</h1>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.previous.url or page.next.url %}
  <footer>
    <nav class="my-3">
      <ul class="pagination justify-content-center">
        {% if page.previous.url %}
        <li class="page-item">
          <a itemprop="url" class="page-link" href="{{ page.previous.url }}"> Předchozí </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item">
          <a itemprop="url" class="page-link" href="{{ page.next.url }}"> Následující </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </footer>
  {% endif %}
</article>

