---
layout: default
---

<script type="application/ld+json">
  { "@context": "http://schema.org"
  , "@type": "NewsArticle"
  , "articleBody": {{ content | jsonify }}
  , "author": { "@type": "Person"
              , "name": "{{ page.author | default: "Zdeněk Kundera" }}"
              }
  , "dateModified": "{{ page.date | date_to_xmlschema }}"
  , "datePublished": "{{ page.date | date_to_xmlschema }}"
  , "headline": {{ page.title | jsonify }}
  , "image": { "@type": "ImageObject"
             , "url": "{{ site.url }}/images/logo.svg"
             , "width": 1100
             , "height": 610
             }
  , "inLanguage": "Czech"
  , "mainEntityOfPage": { "@type": "WebPage"
                        , "@id": "{{ site.url }}/novinky/"
                        }
  , "name": {{ page.title | jsonify }}
  , "url": "{{ site.url }}{{ page.url }}"
  , "publisher": { "@type": "Organization"
                 , "name": "Pohodová Devítka"
                 }
  }
</script>

<article class="post">
  <header>
    <div class="text-muted text-right">
      <i class="fas fa-calendar"></i>
      Publikováno
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d.%-m.%Y %k:%M" }}</time>
    </div>
    <h1 class="py-3">{{ page.title }}</h1>
  </header>

  <div id="article">
    {{ content }}
  </div>

  {% if page.previous.url or page.next.url %}
  <footer>
    <nav class="my-3">
      <ul class="pagination justify-content-center">
        {% if page.previous.url %}
        <li class="page-item">
          <a class="page-link" href="{{ page.previous.url }}"> Předchozí </a>
        </li>
        {% endif %}
        {% if page.next.url %}
        <li class="page-item">
          <a class="page-link" href="{{ page.next.url }}"> Následující </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </footer>
  {% endif %}
</article>

